$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;

$color_productDetailAll_major: #259bd6;
$color_productDetailSingle_major: #4cba59;
$color_productDetail_minor:#ff8736;


.area {

   .container {

   }

}

.calendar__nav__trigger{
   @include fxcw();
   padding: 0 10px 0;
   display: none;
   background-color: #ffffff;
   padding: 20px 0;
   position: relative;
   z-index: 10;
   margin: 10px 0;

   @include MCW(1301px) {
      display: -webkit-box;
      display: flex;
   }
   .calendar__nav__trigger__title {
      @include fxcw(130px);
      position: relative;
      z-index: 100;
      &::before {
         @include ib;
         content: '';
         position: absolute;
         left: 5px;
         width: 0px;
         height: 0px;
         @include atb;
         border-style: solid;
         border-width: 5px 5px 5px 7px;
         border-color: transparent transparent transparent #777777;
      }
      &.calendar__nav__trigger__title--isopen {
         &::before {
            top: 2px;
            left: 2px;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
         }
      }

   }
}

.calendar__nav__block {
   margin: 0 40px 0 0;
   width: 100%;
   max-width: 1000px;

   @include MCW(1301px) {
      max-width: 100%;
      margin: 0;
   }
}

.calendar__main__block,
.calendar__nav__block {
   @include iblw(1000px);
   min-height: 1020px;

   @include MCW(1301px) {
      max-width: 100%;
      margin: 0;
      min-height: unset;
   }

   &.calendar__nav__block--ismobile {
      @include MCW(1301px) {
         display: none;
      }
   }

   .course__type__main__tab__item {
      width: 100%;
      display: none;

      &.course__type__main__tab__item--active {
         display: block;
      }
   }

   .course__type__main__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color: $color_major;
      border: solid 1px;
      padding: 15px 0;
      width: 100%;
      border-color: transparent transparent #d3d3d3 transparent;

      i {
         padding: 0 12px 0 0;
      }
   }
}

.calendar__main__block {
   display: -webkit-box;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
           flex-direction: column;
   -webkit-box-pack: justify;
           justify-content: space-between;
}

.calendar__main__item {

   padding: 40px 20px;
   background-color: #ffffff;
   box-shadow: 0px 0px 25px #00000023;

   @include MCW(1301px) {
      padding: 8px;
   }
}

.calendar__nav__block {
   @include iblw();
   width: calc(100% - 1050px);

   @include MCW(1301px) {
      width: 100%;
      flex-wrap: nowrap;
   }

   @include MCW(781px) {
      flex-wrap: wrap;
   }

   .calendar__nav__box {
      @include fxc;
      padding: 10px 0;
      width: 100%;
      max-width: 420px;

      @include MCW(1301px) {
         padding: 10px;
      }

      @include MCW(420px) {
         padding: 10px;
      }
   }

   .calendar__nav__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color: #555555;
      padding: 12px 0;
      margin: 5px 0;
      width: 100%;
      color: $color_major;
      border: solid #cccccc;
      border-width: 0 0 1px 0;

      i {
         text-align: center;
         width: 100%;
         max-width: 20px;
         padding: 0 6px 0 0;
      }

      @include MCW(1301px) {
         font-size: 1em;
      }
   }

   .calendar__nav__link {
      @include fxfsw();
      margin: 4px 4px 4px 4px;
      @include hover;
      color: #444444;
      line-height: 1.4em;
      font-size: .9em;
      @include multi-nowrap(2);
      max-height: 44px;
   }

   .calendar__nav__dropdown__box {
      @include fxfsw();
   }

   .calendar__nav__dropdown__title {
      @include fxfsw();
      padding: 12px 0 12px 16px;
      color: #555555;
      @include hover;
      font-weight: 600;
      font-size: 1.1em;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

      &::before {
         @include ib;
         content: '';
         position: absolute;
         left: 5px;
         width: 0px;
         height: 0px;
         @include atb;
         border-style: solid;
         border-width: 5px 5px 5px 7px;
         border-color: transparent transparent transparent #777777;
      }

      &.calendar__nav__dropdown__title--isopen {

         &::before {
            top: 2px;
            left: 2px;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
         }
      }
   }

   .calendar__nav__dropdown {
      @include iblw();
      padding: 3px 0 3px ;
      color: #555555;

      font-weight: 600;
      font-size: 1em;
      position: relative;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      
   }

   .calendar__nav__dropdown__item {
      @include iblw();
      font-size: .9em;
      letter-spacing: 1px;
      margin: 4px 0;
      padding: 7px ;
      color: #ffffff;
      background-color: $color_major;

      cursor: pointer;
      &.hide{
         display: none;
      }
   }
}



.article__detail__block {
   @include fxfsw();

   .article__detail__box {
      @include fxfsw();
      margin: 12px 0;
      padding: 0;
   }

   .article__detail__imagine {
      @include fxcw();
      height: 350px;

      @include MCW(650px) {
         height: 52vw;
      }
   }

   .article__detail__title {
      @include fxfsw();
      margin: 20px 0 10px;
      font-size: 1.4em;
      font-weight: 600;
      @include nowrap;

      @include MCW() {
         @include multi-nowrap(2);
         white-space: initial;
         max-height: 60px;
         line-height: 1.3em;
      }

   }

   .article__detail__info__box {
      @include fxbw();
      border: solid #dddddd;
      border-width: 0 0 1px 0;
      padding: 6px 0;
   }

   .article__detail__info__ele__box {
      letter-spacing: 1px;

      &.left {
         @include fxfsw(70%);
         color: #525252;
      }

      &.right {
         @include fxfew(30%);
      }
   }

   .article__detail__info__ele {
      &.viewed {
         i {
            padding: 0 0px 0 12px;
         }

         ;
      }

      &.fb {
         i {
            // width: 45px;
            font-size: 2.2em;
            margin: 0 10px 0 0;
         }
      }

   }

   .article__detail__content {
      @include iblw();
      line-height: 1.5em;
      font-size: 1em;
      padding: 26px 0 18px;
   }

}

.course__case__detail__block {
   @include fxcw(600px);
   @include aa;
   bottom: unset;
   display: none;
   background-color: #ffffff;
   position: fixed;
   padding: 30px 35px;
   top: 12vh;
   max-height: 85vh;
   overflow-x: hidden;
   overflow-y: scroll;
   z-index: 11;

   @include MCW(980px) {
      top: 90px;
   }

   &.course__case__detail__block--isshow {
      display: -webkit-box;
      display: flex;
   }

   .close__box {
      position: absolute;
      top:20px;
      right: 20px;
      @include fxcw();
      width: 42px;
      height: 42px;
      cursor: pointer;
      .close__ele{
         position: absolute;
         width: 90%;
         height: 2px;
         background-color: #aaaaaa;
      }
      .close__ele__a{
         transform: rotate(45deg);
      }
      .close__ele__b {
         transform: rotate(-45deg);
      }
   }

   .buy__time__block {
      @include fxfsw();

      .btn__box {
         @include fxfsw(380px);

         .button {

            text-align: center;

            @include MCW(500px) {
               max-width: 25vw;
               padding: 15px 20px;
               width: 100%;
               font-size: .9em
            }
         }

      }

      .select__box {
         @include fxfsw(250px);

         .select__ele {}

         .selecter {
            margin: 8px;
            height: 36px;

            border: 1px solid #bbbbbb;
            font-size: 1.1em;

            @include MCW(500px) {
               font-size: .9em
            }
         }
      }

      .buy__time__title {
         @include fxfsw();
         font-weight: 600;
         font-size: 1.3em;

         margin: 15px 0 10px;
         color: $color_major;
      }

      .buy__time__price {
         @include fxfsw(80px);
         font-size: 1.2em;
         color: #cf1818;

      }

      .texter {}

      .button {
         font-size: 1.1em;
      }
   }

   .number__choose__box {
      margin: 8px;
      @include fxbw();

      .number__choose__texter {
         max-width: 160px;
         width: 100%;
         border: 1px solid #bbbbbb;
      }

      .number__choose__ele {
         width: 27px;
         height: 27px;
         padding: 5px;
         position: relative;
         border: 1px solid #bbbbbb;
         @include hover;

         &.type__plus {
            .plus__item {
               @include ib;
               width: 60%;
               height: 2px;
               @include aa;
               position: absolute;
               background-color: $color_major;
            }

            .item__a {}

            .item__b {
               -webkit-transform: rotate(90deg);
               transform: rotate(90deg);
            }
         }

         &.type__minus {
            .plus__item {
               @include ib;
               width: 60%;
               height: 2px;
               @include aa;
               position: absolute;
               background-color: $color_major;
            }
         }
      }


   }

}

.case__detail__block__mask {
   position: fixed;
   display: none;
   cursor: pointer;
   @include aa;
   @include fxcw();
   height: 100vh;
   z-index: 10;
   background-color: #1d1d1db9;
}

#calendar{
   
   .fc-head-container{
      // border-width: 0px 0 0 0;
   }
   thead {
      border: 0px solid transparent;
      tr {
         border: 0px solid transparent;
      }
   }
   .fc-day-header {
      background-color: #ffffff;
      border: transparent;
      padding: 14px 0;
      color: #444444;
      font-weight:600;
      font-size: 1.1em;
   }

   .fc-button{
      margin: 0 3px;
      border: 0px solid transparent;
      border-radius: 0px;
      text-shadow: none;
      background-color: #58a6ce;
      background-image: linear-gradient(#58a6ce);
   }

   .fc-button{
      color: #ffffff;
   }

   .fc-past{
      background-color: #e2e2e2!important;
   }

   .fc-center{
      h2{
         font-size: 1.4em;
         line-height: 1.4em;
      }
   }


   .fc-day-grid-event{
      .fc-content {
         white-space: normal;
         /*讓顯示超過一行*/
         max-height: 38px;
         /*最多顯示兩行*/
      }
   }



}

.week__counter{
   @include fxfsw();
   .week__counter__ele{
      @include fxfsw(160px);
      padding:10px 0;
   }
   .week__counter__title{
      padding:  0 10px 0 0;
   }
   .ui-spinner {
      border: 0px solid transparent;
      height: 24px;
      font-size: .9em;
      
   }
   .ui-icon{
      // background-image:unset;
      color: $color_major;
   }
   .ui-spinner-input{
      border: 1px solid #cccccc;
      margin: 0;
      height: 100%;
      outline:none;
   }
   .ui-spinner-button {
      background-image: linear-gradient(#ffffff,#ffffff);
      border:  1px solid #cccccc;
      background-color: #ffffff;
   }
   .ui-button-text{
      padding: .3em;
   }
   .ui-spinner-up {
      float: right;
      color: $color_major;
   }
   .ui-spinner-down {
      float: left;
      color: $color_major;
   }
}


.fc-event {
   padding: 8px!important;
   background-color: $color_major;
}

