// *{   outline: #FF7757;outline-width: 1px;outline-style:solid;}

.sidebar {
   @include b;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 101;
   top: 0;
   display: none;

   .container {
      @include b;
      position: relative;
      background: #fff;
      height: 100%;
      left: 0;
      width: 300px;
      font-size: 17px;
      z-index: 100;
      color: rgb(83, 83, 83);
      @include selection_none;

      .locate_name {
         @include b;
         padding: 15px 25px;
         font-weight: 600;
      }

      .sidebar_list_type {
         .type_name_block {
            @include fxb;
            padding: 15px 25px;

            @include hvc {
               background: rgb(236, 236, 236);
               opacity: .9;
            }

            ;

            >.name {
               font-weight: 600;
            }

            >.icon {
               font-size: 14px;
            }
         }

         .type_list_block {
            @include b;
            padding: 20px 25px 20px 45px;
            overflow: hidden;
            display: none;

            >.list_name {
               @include b;
               font-weight: 600;
               padding: 15px 0;
            }

            >.course_list {
               >.course_list_item {
                  a {
                     @include b;
                     padding: 13px 0;
                     width: 100%;
                     height: 100%;
                  }
               }
            }
         }
      }

      >.btn_close {
         @include b;
         width: 30px;
         height: 30px;
         position: absolute;
         ;
         top: 10px;
         right: 15px;
         //background: #FF7757;
         cursor: pointer;
         display: none;

         @include MCW(861px) {
            display: block
         }

         &:hover {
            .c_deco {
               background-color: #ffa51d;
            }
         }

         .c_deco {
            @include b;
            @include aa;
            @include tst;
            position: absolute;
            background: rgb(116, 116, 116);
            transform: rotate(45deg);

            &.cd1 {
               height: 1px;
               width: 80%;
            }

            &.cd2 {
               width: 1px;
               height: 80%;
            }
         }

      }
   }

   >.mask {
      @include b;
      @include aa;
      cursor: pointer;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.705);
   }
}

#Header {
   @include fxc;
   @include bs(0px, 2px, 30px, #00000013);
   width: 100%;
   height: 80px;
   background-color: rgba(255, 255, 255, 1);
   position: fixed;
   top: 0;
   z-index: 100;
   font-family: '''Source Sans Pro', 'Muli', '微軟正黑體', 'Arial', '新細明體';
   @include MCW(781px) {
      height: 60px;
   }

   .header_container {
      @include fxb;
      align-items: center;
      width: 100%;
      // max-width: 1400px;
      max-width: 1300px;
      margin: 0;
      height: 100%;
      position: relative;
      // @include MCW(1401px) {
      //    padding: 0 10px;
      // }
      @include MCW(1301px) {
         padding: 0 10px;
      }

   }

   .header_container_box {
      @include fxfs;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      min-height: 100%;
      &.left {
         justify-content: flex-start;
      }
      &.right {
         justify-content: flex-end;
      }
   }

   .sidebar_menu {
      @include fxc;
      @include hover;
      margin: 0px 20px 0 0px;
      display: none;

      .sidebar_btn {
         @include fxv;
         margin: 0;
         width: 16px;
         height: 25px;
         cursor: pointer;

         .sidebar_btn_element {
            @include ib;
            width: 100%;
            height: 1px;
            background-color: rgb(107, 107, 107);
            margin: 5px 0 0;
            float: left;
         }
      }
   }

   .fengso_logo {
      @include ibl;
      margin: 0 40px 0 0;
      position: relative;
      width: 190px;

      @include MCW(781px) {
         width: 100px;
         margin-top: 0px;
         // width: 55px;
         // margin-top: -12px;
      }
   }

   .header_list {
      @include fxfs;
      @include MCW(921px) {
         display: none;
      }
      height: 80px;
      .header_list_item {
         @include fxc;
         margin: 0 30px 0 0;
         font-size: .9em;
         cursor: pointer;
         position: relative;
         font-weight: 600;
         min-height: 100%;
         -webkit-tap-highlight-color: transparent;
         &:hover {
            .header__list__item__dropdown__box {
               z-index: 98;
               @include hov_v;
            }
         }
         i{
            font-size: 12px;
            padding: 0 0 0 7px;
            opacity: .6;
         }
         .header__list__item__dropdown__box {
            @include fxc;
            @include bs(0px, 10px, 10px, #00000057);
            @include tst;
            @include hov_h(.15s);
            position: absolute;
            width: 320px;
            max-width: 130px;
            padding: 13px;
            top: 80px;
            background-color: #ffffff;
            &::before,&:after {
               content: '';
               position: absolute;
            }
            &::before {
               width: 0px;
               height: 0px;
               top: -15px;
               border-width: 6px 6px 8px 6px;
               border-color: transparent transparent $color_major transparent;
               border-style: solid;
            }
            &:after{
               width: 100%;
               top:-3px;
               height: 3px;
               background-color: $color_major;
            }
            .header__list__item__dropdown__item {
               @include fxc;
               width: 100%;
               padding: 6px 0;
               @include tst;
               color: #474747;
               &:hover{
                  opacity: .5;
               }
            }

            .dropdown_container {
               @include b;
               overflow: hidden;
               margin: 0 auto;
               width: 1300px;
               padding: 5px 30px 30px;

               .dropdown_block {
                  @include ibl;
                  padding: 5px 30px 0 0;

                  .dropdown_block_list_title {
                     color: rgb(20, 20, 20);
                     font-weight: 600;
                     padding: 20px 0;
                     font-size: 16px;
                  }

                  .dropdown_list {

                     @include ibl;
                     width: 150px;
                     overflow: hidden;
                     max-height: 500px;

                     .dropdown_list_item {

                        margin: 12px 0;
                     }
                  }
               }
            }


         }
      }
   }

   .user_control {
      @include ibr;
      cursor: pointer;
      position: relative;

      &:hover {
         .user_dropdown {
            @include hov_v();
         }
      }

      .user_avatar {
         @include ibl;
         border-radius: 100px;
         overflow: hidden;
         width: 27px;
         height: 27px;
         border: 1px solid #969696;
      }

      i {
         margin: 10px 0 0 5px;
         font-size: 12px;
         color: rgb(170, 170, 170);
      }

      .user_dropdown {
         @include b;
         @include ds(4px, 4px, 10px, rgba(70, 70, 70, 0.158));
         @include tst;
         position: absolute;
         padding: 2px 0px;
         background-color: #ffffff;
         width: 164px;
         right: 10px;
         top: 56px;
         text-align: center;
         @include hov_h();

         &::before {
            content: '';
            position: absolute;
            top: -10px;
            right: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 12px 10px;
            border-color: transparent transparent #ffffff transparent;
         }

         .dropdown_item {
            @include b;
            @include tst;
            cursor: pointer;
            width: 100%;
            margin: 2px 0;
            padding: 12px 0px;
            font-weight: 600;
            font-size: 14px;
            color: $color_major;
            position: relative;

            i {
               text-align: center;
               font-size: 16px;
               margin: 0 0 0 -5px;
               width: 25px;
            }

            &.logon {
               color: #fff;
               background-color: $color_major;
            }
         }
      }
   }

   .cart {
      @include fxc;
      margin: 0 20px ;
      cursor: pointer;
      position: relative;

      @include M1301() {
         margin-right: 10px;

         .header_cart_name {
            display: none;
         }
      }

      .header_cart_img {
         @include ib;
         font-size: 18px;
         margin: 0 10px 0 0;
         position: relative;

         i {
            color: $color_major;
         }
      }

      .header_cart_name {
         font-size: 14px;
      }
   }

   .search_trigger {
      @include fxc;

      margin: 0px 10px 0 0;
      height: 100%;
      outline: none;
      
      color: rgba(138, 138, 138, 0.6);
      &.dp-mob {
         display: none;
         @include MCW(781px) {
            display: block;
         }
      }
   }

   .search {
      @include fxc;
      margin: 0px 20px ;
      height: 36px;
      outline: none;
      border-style: solid;
      border-width: 1px;
      border-radius: 50px;
      border-color: $color_major;
      -webkit-tap-highlight-color: transparent;
      &.dp-tab {
         display: block;
         @include MCW(781px) {
            display: none;
         }
      }
      &.search__show{
         display: flex;
      }
      @include M1301() {
         margin-right: 10px;

         .search_input {
            width: calc(100% - 38px);
         }
      }
      @include MCW(781px) {
         width: 100%;
         max-width: 400px;
         position: absolute;
         @include arl;
         top: 80px;
         background-color: rgba(255, 255, 255, 0.9);
      }
      .search_input {
         @include ibl;
         @include PlaceHolder-Style();
         font-size: 14px;
         padding: 0 10px 0;
         border: 0px solid;
         height: 100%;
         background: transparent;
         outline: none;
      }
      .search_start {
         @include fxc;
         cursor: pointer;
         padding: 0px 13px;
         color: rgba(138, 138, 138, 0.6);
         font-size: 18px;
         height: 100%;
         @include hover;
      }
   }
}

.header_marginer {
   margin: 0 0 80px 0;

   @include MCW(781px) {
      margin: 0 0 60px 0;
   }
}


#ITeachContainer {
   width: 100%;

   .title {
      @include ib;
      color: rgb(63, 63, 63);
      width: 100%;
      padding: 10px 0;
      font-weight: bold;
      font-size: calc(20px + 0.3vw);
      color: #333;
   }

   >.input_list {
      width: 100%;
      margin: 15px auto 10px;

      @include MCW(801px) {
         margin: 5px auto 3px;
      }

      >.input_block {
         @include fxc;
         position: relative;
         padding: 0 10px 10px 0;
         width: 100%;
         overflow: auto;

         @include col2(96%, 681px) {
            padding: 0 2px;
         }

         @include MCW(801px) {
            padding: 0 10px 5px 0;
         }

         .title {
            @include ib;
            width: 100%;
            padding: 5px 0 0;
            font-weight: unset;
            font-size: 16px;
            text-align: left;
         }

         .input {
            @include PlaceHolder-Style(rgb(145, 145, 145), .9);
            @include tst;
            @include ib;
            text-decoration: none;
            width: 100%;
            max-width: 100%;
            margin: 15px auto 10px;
            padding: 8px 15px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(184, 184, 184);
            outline: none;
            font-size: 16px;
            letter-spacing: 1px;

            @include MCW(801px) {
               margin: 8px auto;
            }

            &:focus {
               border-color: #FF7757;
               box-shadow: 0px 0px 10px rgba(255, 149, 11, 0.466);
            }
         }
      }
   }

   >.tips_block {
      color: rgb(126, 126, 126);
      font-size: 17px;
      line-height: 24px;

      @include MCW(801px) {
         font-size: 15px;
         line-height: 20px;
      }

      >.title {
         @include ib;
         width: 100%;
         padding: 10px 0;
      }

      >.tips_list {
         width: 100%;

         >.tip {
            padding: 4px 0;

            @include MCW(801px) {
               padding: 3px 0;
            }
         }
      }
   }

   >.btns {
      @include fxc;
      padding: 20px 0 10px;

      @include MCW(801px) {
         padding: 10px 0 5px;
      }
   }
}

.i_want_teach {
   display: none;
}

.gotop_gobottom {
   @include fxc;
   box-sizing: border-box;
   padding: 10px;
   width: 42px;
   height: 42px;
   border-radius: 4px;
   background-color: #0000003f;
   opacity: .8;
   position: fixed;
   bottom: 20px;
   right: 30px;
   font-size: 20px;
   z-index: 40;
   pointer-events: all;
   cursor: pointer;
   transition: .4s ease-in-out;

   &.addhight {
      bottom: 95px;
   }

   @include MCW(640px) {
      width: 35px;
      height: 35px;
      font-size: 13px;
      right: 20px;
      // right: unset;
   }

   i {
      padding: 2px 0 0 0;
      // -webkit-text-stroke-width: 2px;
      color: #ffffff;

      @include MCW(600px) {
         padding: 0px 0 0 0;
      }
   }

   .gotop_gobottom_deco {
      width: 50%;
      position: absolute;
      ;
      @include arl;
      border-radius: 4px;
      height: 2px;
      ;
      background-color: #ffffff;

      @include MCW(600px) {
         width: 38%;
      }

      &.gobotton {
         bottom: 10px;
         ;

         @include MCW(600px) {
            bottom: 10px;
            ;
         }
      }

      &.gotop {
         top: 10px;
         ;

         @include MCW(600px) {
            top: 10px;
            ;
         }
      }
   }

   &:hover {
      opacity: 1;
   }

   &.unactive {
      pointer-events: none;
      opacity: .8;
      @include ds(0px, 0px, 7px, transparent);
      color: #999;
   }
}
