





#FengsoIndex{

   .banner_slide_block{
      .banner_slide_container{
         
         @include MCW (920px){
            //width:100vw;
            height: 54vw
         }
         .swiper-wrapper{
            a{
               @include flex-center;
               &:hover{
                  opacity: 1;;
               }
               @include MCW (920px){
                  height: 100%;
               }
            }
            .swiper-slide{
               width: 100%;
               overflow: hidden;
               @include flex-center;
               @include MCW (920px){
                  img{
                     height: 100%;
                  }
               }
            }
         }
      }
   }
   .banner_video_block{
      @include flex-center;
      flex-direction: row-reverse;
      justify-content: flex-start;
      position: absolute;
      z-index: 5;
      width: 100%;
      top: -185px;
      @include M1301() {
         position: relative;
         justify-content: center;
         top: -15px;
         //top: 0px;
      }
      .video_box{
         @include ibl;
         @include ds(0px,5px,20px,rgba(0, 0, 0, 0.342));
         width: 390px;
         height: 220px;
         @include M1301() {
            width: 100%;
            height: 55vw;
         }
      }
   }
   .content_block{
      width: 1300px;
      margin:  0 auto;
      @include M1301() {
         width: 100%;
      }
      .title_block{
         @include flex-center;
         justify-content: space-between;
         width:100%;
         padding: 10px  ;
         color: #3a3a3a;
         > .title_box{
            @include ibl;
            font-size: calc(16px + 0.5vw);
            font-weight: 600;
            
            margin: 10px 0;
            color:#579bf3;
            > .title{
               @include ibl;
               padding-right: 10px;
            }
            > .title_deco{
               @include ibl;
               width: 80px;
               height: 1px;
               background-color:#579bf3;
               margin: 11px 0 0;
            }
         }
         > .more_box{
            font-size:13px ;
            i{
               color: rgb(80, 80, 80);
               padding-left:8px; 
               font-size: 12px;
            }
         }
      }
   }
   .course_list_block{
      // @include flex-center;
      // justify-content: space-between;
      // align-items: flex-start;
      @include ib;
      width: 100%;
      
      margin:  0 auto;
      overflow: hidden;
      @include tst;
      // white-space: nowrap;
      @include M1301() {
         justify-content: center;
      }
      @include MCW(701px) {
         padding: 0px 5px ;
      }
      .course_block{
         @include ib;
         width: 325px;
         margin: 0 0px 25px ;
         padding: 0 12px 0;
         @include tst;
         @include MCW(1301px) {
            margin: 0 0px 20px ;
         }
         @include MCW(701px) {
           padding: 0 5px 0;
         }
         a{
            @include b;
            &:hover{
               opacity: 1;
               //transform: translate(0px,-7px);
            }
         }
         &.preorder{
            position: relative;
            &::after{
               content:'+預購課程';
               @include b;
               padding: 6px 8px;
               color:#fff;
               font-size: 14px;
               background-color:#ecb500; 
               position: absolute;
               z-index: 10;
               top:0;
               right:12px;
               letter-spacing: 2px;
               @include hover;
               @include MCW(701px) {
                  letter-spacing: 0px;
                  padding: 3px 4px;
                  font-size: 12px;
                  right:5px;
               }
            }
   
         }
         .image{
            @include fxc;
            width: 100%;
            height: 165px;
            
            @include tst;
            @include MCW(601px) {
               //height: 140px;
               height: 26vw;
            }
            @include MCW(501px) {
               //height: 140px;
               //height: 45vw;
            }
            img{
               @include tst;
               width: auto;;
               max-width: unset;
               max-height:unset;;
               &:hover{
                  transform: scale(1.1);
               }
            }
            &:hover{
               opacity: 1;
            }
         }
         .content{
            @include flex-center;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin: 25px 0 10px;
            line-height: 24px;
            height: 52px;
            overflow: hidden;
            white-space: pre-wrap;
            @include MCW(580px) {
               font-size: 15px;
               margin: 15px 0 4px;
            }
         }
         .infos{
            @include flex-center;
            justify-content: space-between;
            width: 100%;
            > .tips{
               @include ib;
               font-size: 15px;
               color: rgba(58, 58, 58, 0.7);
               font-weight: bold;
               @include MCW(601px) {
                  padding: 0 0 5px 0;
                  width: 100%;;
               }
               > .element{
                  @include ibl;
                  padding:  3px 5px 3px  0;
                  i{
                     padding:  0 5px 0 0 ;
                  }
               }
               > .count{
                  @include MCW(601px) {
                     display: none;
                  }
               }
            }
            > .price{
               
               font-size: calc(19px + 0.4vw);
               color:#ffa51d;

               > .preprice{
                  @include ibl;
                  font-size:13px;
                  color: rgb(34, 34, 34);
                  padding-right: 4px;
                  line-height: 22px;
                  .onsale{
                     font-size: 12px;
                     padding: 2px 4px; 
                     background-color: #ecb500; ;
                     color:#fff;;
                     margin-left:6px;
                  }
                  @include MCW(391px) {
                     padding: 0 0 5px 0;
                     width: 100%;
                  }
               }
            }
         }
          .teacher_block{
            @include flex-center;
            width:100%;
            float: left;
            padding: 5px 0;
            justify-content: space-between;
            @include hover;
            .teacher_avatar{
               width: 50px;
               height: 50px;
               border-radius: 50px;
               overflow:hidden;
            }
            .intro{
               width: calc(100% - 70px);
               .name{
                  padding: 2px 0;
               }
               > .intro_content{
                  color:#666666;
                  font-size: 15px
               }
            }
         }
      }

   }
   .teacher_list_block{
      @include flex-center;
      justify-content: space-between;
      align-items: flex-start;
      overflow: hidden;
      // width: calc(100% - 300px);
      margin:  0 auto;
      width: 100%;
      @include tst;
      @include M1301() {
         justify-content: center;
         padding: 0 10px 0; 
      }

      a{
         @include b;
         &:hover{
            opacity: 1;
            //transform: translate(0px,-7px);
         }
      }
      .teacher_block{
         @include ibl;
         width: 400px;
         min-height: 220px;
         
         padding: 60px 10px 15px;
         overflow: hidden;
         @include tst;
         @include tst;
         @include MCW(1301px) {
            margin: 0 10px 20px ;
         }
         @include MCW(401px) {
            margin: 0 0px 20px ;
         }
         &:hover{
            transform: translate(0px,-5px);
            @include ds(0px,5px,4px,rgba(27, 27, 27, 0.199));
         }
         .content_box{
            @include b;
            background: #fff;
            position: relative;
            padding: 20px 25px;
            min-height: 170px;
            .major_block{
               @include flex-center;
               justify-content: flex-start;
               align-items: flex-end;
               position: relative;
               // top: -50px;
               margin: -60px 0 -30px 0 ;
               @include MCW(401px) {
                  justify-content: center;
                  align-items: center;
                  padding: 0 10px 0; 
                  left: 0;
                  width: 100%;
                  margin: -70px 0 -40px 0 ;
               }
               > .teacher_avatar{
                  @include ibl;
                  width: 100px;
                  height: 100px;
                  border-radius: 100px;
                  overflow: hidden;
                  border: 4px solid #ffa51d;
                  border-radius: 100px;
               }
               > .teacher_name{
                  @include ibl;
                  color:#ffa51d;
                  padding: 10px ;
                  font-size: 18px ;
                  @include MCW(401px) {
                     width: 100%;
                     text-align: center;
                  }
               }
            }
            .minor_block{
               @include b;
               padding: 10px 0 ;
               line-height: 24px;
               font-size:14px;

            }
            hr{
               margin: 40px 0 20px
            }
         }

      }

   }
   .pager_block{
      @include ibl;
      @include flex-center;
      justify-content: flex-end;
      width: 100%;
      padding: 20px 0 ;
      @include M1301() {
         justify-content: center;
      }
      @include MCW(580px) {
         justify-content: center;
         padding: 0 0;
      }
      @include MCW(580px) {
         padding: 0 0;
      }
      .pager{
         // @include flex-center;
         // justify-content: space-between;
         @include ib;
         width: auto;
         height: 60px;
         a{
            max-width: 120px;
            @include ib;
         }
         .pager_number{
            @include ibl;
            padding: 12px 15px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            background-color: rgb(218, 218, 218);
            @include tst;
            outline: none;
            &.last{
                margin-right: 0;
                font-size: 14px;
                padding: 13px 15px 13px 25px;
            }
            &:hover{
                background-color:#172532;
                color: #fff;
            }
         }
      }
      &.type_light{
         .pager_number{
            background-color: #fff;
         }
      }
   }
   .imagine_block{
      @include flex-center;
      width: 100%;
      height: 370px;
      @include MCW(801px) {
         height: auto;
      }
      .imagine_box{
         @include fxfe;
         width: 50%;
         height: 100%;
         padding: 60px;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         background-color: #ffa51d;
         @include M1301() {
            justify-content: center;
         }
         @include MCW(801px) {
            width: 100%;
            padding: 40px 10px;
         }
         &.imagine{
            background-image: url("../img/index_imagine.jpg");
            @include M1301() {
               background-position: right;
            }
            @include MCW(801px) {
               display:none;
            }
         }
         .join_box{
            @include ibr;
            width: 320px;
            margin-right: 130px;
            color: #fff;
            position: relative;
            letter-spacing: 3px;
            @include M1301() {
               margin-right: 0px;
            }
            > .title{
               @include b;
               width: 100%;
               text-align: center;
               position: relative;
               font-size: calc(18px + 0.4vw);
               font-weight: 600;
               &:before,&::after{
                  content:'';
                  @include b;
                  width: 70px;
                  height: 1px;
                  background-color: #fff; 
                  position: absolute;
                  top:0;
                  bottom: 0;
                  margin: auto 0;
               }
               &:before{
                  left: 0px;
               }
               &:after{
                  right: 0px;
               }
            }
            > .content{
               @include b;
               width: 100%;
               margin: 40px 0;
               padding-left:10px;;
               letter-spacing: 10px;
               text-align: left;
               line-height: 28px;
               font-size:calc(16px + 0.05vw);
            }
            > .btn{
               @include ib;
               width:100%;
               border: 2px solid #fff;
               text-align: center;
               padding: 20px;
               @include tst;
               cursor: pointer;
               color: #fff;
               &:hover{
                  background-color: #fff;
                  color: #4d4d4d;
               }
               > .title{
               font-size: calc(18px + 0.2vw);
               }
               > .subtitle{
                  letter-spacing: 1px;
                  font-size: 13px;
               }
               &:hover{
                  opacity: 1;
               }
            }
            > .i_want_teach{
               display:none;
            }
         }
      }
   }
   .article_list_block{
      @include flex-center;
      justify-content: space-between;
      width: 100%;
      a{
         width: 384px;
         &:hover{
            opacity: .9;
         }
      }
      .article_block{
         @include ibl;
         width:384px;
         @include MCW(384px) {
            width:100%;
         }
         .image_box{
            @include fxc;
            width: 384px;
            height: 250px;
            @include MCW(384px) {
               width: 100%;
               height: 65vw;
            }
            img{
               @include tst;
               width: auto;;
               // width: 100%;
               // height: 100%;
               max-width: unset;
               max-height:unset;
               &:hover{
                  transform: scale(1.1);
               }
            }
         }
         .content_box{
               @include bl;
               padding: 20px  32px;
            > .title{
               @include b;
               width: 100%;
               font-size: 18px;
               color:rgb(97, 97, 97);
               line-height: 26px;
               line-height: 29px;
               height: 52px;
               overflow: hidden;
            }
            > .tips{
               @include flex-center;
               justify-content: space-between;
               width: 100%;
               font-size: 13px;
               color: rgb(156, 156, 156);
               padding: 10px 0 0 0;
               > .views{
                  
               }
               > .tags{
                  padding:5px 12px ;
                  background: #182432;
                  color:#fff;;
               }
            }
            > .article{
               @include b;
               width: 100%;
               line-height: 26px;
               font-size: 15px;
               color: rgb(112, 112, 112);
               letter-spacing: 3px;
               max-height: 155px;
               overflow: hidden;
            }
         }
      }
   }
}

.video_box{
   @include ibl;
   width: 100%;
   overflow: hidden;
   iframe{
      width: 100%;
      height: 100%;
   }
}

.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

.banner_slide_container{
   .swiper-pagination-bullet {
      position: relative;
      bottom: 30px;
      width: 8px;
      height: 8px;
      background: rgba(255, 255, 255, 0);
      opacity: 1;
      @include tst;
      @include ds(1px,1px,0px, rgb(85, 85, 85));
      color: #fff;
      font-size: 17px;
      margin: 0 10px!important;
      &::before{//string
         content:'';
         @include b;
         @include arl;
         @include tst;
         margin-left:0px;
         bottom:-22px;;
         width: 28px;
         height: 1px;
         background-color: #fff;
         border: 1px solid rgb(255, 255, 255);
         position: absolute;
         opacity: 1;
      }
      &:last-child::before{
         width: 10px;
      }
      &::after{//solid
         content:'';
         @include b;
         left: 1px;;
         @include tst;
         bottom:-25px;;
         width: 8px;
         height: 8px;
         //border: 1px solid rgb(161, 161, 161);
         position: absolute;
         opacity: 0;
      }
   }
   .swiper-pagination-bullet-active {
      background: #ffffff00;
      //mix-blend-mode: difference;
      
      &::after{
         background-color:rgb(255, 255, 255); 
         opacity: 1;
      }
   }
   .swiper_overflower{
      overflow:hidden;
   }
   .swiper-button-prev ,
   .swiper-button-next {
      background-size: 140%;
      outline:none;
   }
   .swiper-button-prev.swiper-button-disabled, 
   .swiper-button-next.swiper-button-disabled{
      opacity: 0;
   }
}



