$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;

.area {
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.slider_banner {
      overflow: visible;
   }
   &.no__01{
      background-image: url('../img/index/block_bg_01.jpg');
      background-size:cover;
      background-position: center top;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      // min-height: 750px;
      position: relative;
      &:after{
         content: '';
         position: absolute;
         width: 100%;
         height: 115px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: bottom;
         bottom: 0;
         background-image: url('../img/index/block_bg_01_deco.png');
      }
      @include MCW(861px) {
         background-position: 65% center;
      }
   }
   &.no__02{
      background-color: #f5f5f5;
      background-image: url('../img/index/block_bg_02.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      // min-height: 750px;
      position: relative;
      overflow: visible;
      @include MCW(861px) {
         background-position: 40% center;

      }
   }
   &.no__03 {
      background-color: #ffffff;
   }
   &.no__04 {
      background-image: url('../img/index/block_bg_04.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      // min-height: 750px;
      position: relative;
      overflow: hidden;
      @include MCW(861px) {
         background-position: 20% 60%;
         &:after{
            @include fxc;
            content: '';
            position: absolute;
            @include aa;
            background-color:#ffffffa6;
            z-index: 0;
         }
      }
   }
   .container {
      @include b;
      // overflow: hidden;
      margin: 0 auto;
      width: 1300px;
      padding: 40px 10px;
      position: relative;
      z-index: 0;
      &.type_banner {
         width: 100%;
         padding: 0px 0px;
         max-width: 100%;
      }
      &.no__01{
         padding: 110px 0 100px;
         @include MCW(861px) {
            padding: 40px 0;
         }
      }
      &.no__02 {
         padding: 80px 0;
         overflow: visible;
         @include MCW(861px) {
            padding: 30px 0;
         }
      }
      &.no__03 {
         padding: 40px 0 0;
         overflow: visible;
         @include MCW(861px) {
            padding: 40px 0 0;
         }
      }
      &.no__04 {
         display: flex;
         box-sizing: border-box;;
         overflow: visible;
         height: 100%;
         padding: 0;
         z-index: 5;
      }
      @include M1301() {
         width: 100%;
      }
   }

}

#TVIndex{
   .banner_slide_block{
      .banner_slide_container{
         @include MCW (920px){
            //width:100vw;
            height: 54vw
         }
         .swiper-wrapper{
            a{
               @include flex-center;
               &:hover{
                  opacity: 1;;
               }
               @include MCW (920px){
                  height: 100%;
               }
            }
            .swiper-slide{
               width: 100%;
               overflow: hidden;
               @include flex-center;
               @include MCW (920px){
                  img{
                     height: 100%;
                  }
               }
            }
         }
      }
   }
   //推薦課程清單
   .recommand__navigation__block{
      @include ibl;
      height: 100%;
      z-index: 5;
      position: absolute;
      width: 100%;
      max-width: 300px;
      left: calc(50% - 760px);
      background-color: #edf7fd;
      padding: 9px 12px;
      box-shadow: 0px 0px 20px #0000003b;
      @include MCW(1501px){
         display: none;
      }
      .recommand__navigation__box__title{
         @include fxfs;
         color: $color_major;
         width: 100%;
         font-weight: 600;
         margin: 10px 0 4px;
         font-size:.9em;
         i{
            padding: 0 6px 0 0 ;
         }
      }
      .recommand__navigation__box{
         @include fxfs;
         width: 100%;
      }
      .recommand__navigation__item{     
         color: #555555;
         width: 100%;
         max-width: 33%;
         font-size: .8em;
         padding: 4px 0;
         transition: .3s all;
         cursor: pointer;
         &:hover{
            color: #777777;
            .item__expand__block{
               visibility: visible;
               opacity: 1;
            }
         }
      }
   }
   //推薦課程清單下拉
   .item__expand__block {
      visibility: hidden;
      opacity: 0;
      transition: .2s ease-in-out;
      transition-delay: .3s;
      @include fxfs;
      align-items: flex-start;
      box-sizing: border-box;
      height: 100%;
      width:750px;
      position: absolute;
      top: 0;
      left: 300px;
      padding: 20px ;
      background-color: #ffffff;
      .item__expand__list__box{
         @include fxfs;
         width:100%;
         box-sizing: border-box;
         max-width: 450px;
         margin: 20px 0;
         padding: 0 0 0 20px ;
      }
      .item__expand__title{
         @include fxfs;
         width: 100%;
         border: solid #eeeeee;
         border-width: 0 0 1px 0;
         color:$color_major;
         font-weight: 500;
         font-size: 1.3em;
         margin: 5px 0;
         padding: 15px 0;
      }
      .item__expand__ele{
         @include fxfs;
         width: 100%;
      }
      .item__expand__ele__title{
         @include fxfs;
         width: 100%;
         font-weight: 600;
         font-size: 1.1em;
         color:#313131;
         padding: 20px 0 10px;
         position: relative;
         &:before {
            content: '';
            @include ibl;
            // @include atb;
            position: absolute;
            background-color: #696969;
            padding: 3px;
            left: -15px;
            margin:0px 5px;
            width: 3px;
            height: 3px;
         }
      }
      .item__expand__ele__item{
         @include fxfs;
         width: 100%;
         max-width: 25%;
         font-weight: 500;
         font-size: 1em;
         padding: 4px 0;
         color: #646464;
      }

      .item__expand__recommand__box{
         @include fxv;
         justify-content: center;
         width:100%;
         height: 100%;
         box-sizing: border-box;
         max-width: 220px;         
      }
      .item__expand__recommand__item{
         margin: 8px 0;
      }
      .item__expand__recommand__imagine{
         @include fxc;
         width: 100%;
         max-width:220px;
      }
      .item__expand__recommand__title{
         text-align: center;
         font-size: 1.1em;
         letter-spacing: 0px;
         max-width: 210px;
         @include nowrap;
         overflow: hidden;
      }
   }
   //形象區塊
   .index__imagine__block{
      @include fxc;
      width: 100%;
      @include ds(2px, 3px, 5px, #000000c7);
      color: #ffffff;
      .index__imagine__box{
         @include fxfs;
         align-items: flex-start;
         width: 100%;
      }
      .type__content{
         padding: 0 10px;
         max-width: 55%;
         @include MCW(861px) {
            max-width: unset;
         }
      }
      .type__img{
         max-width: 45%;
         @include MCW(861px) {
            display: none;
         }
      }
      .index__imagine__number{
         @include MCW(861px) {
            max-width: 180px;
         }
      }
      .index__imagine__title{
         @include fxfs;
         width: 100%;
         padding: 40px 0;
         font-size: 3.1em;
         font-weight: bold;
         letter-spacing: 5px;
         
         -webkit-text-stroke-width: .8px;
         -webkit-text-stroke-color:#ffffff;
         strong{
            color: $color_minor;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color:$color_minor;
            letter-spacing: 10px;
            padding:  0 10px 0 0;
         }
         @include MCW(861px) {
            font-size: 2em;
            letter-spacing: 2px;
         }
      }
      .index__imagine__title__sub{
         padding:  10px 0 10px 55px;
         font-weight: 500;
         line-height: 30px;
         font-size: .75em;
         -webkit-text-stroke-width: 0px;
         -webkit-text-stroke-color:#ffffff;
         position: relative;
         @include MCW(861px) {
            font-size: .7em;
            padding: 10px 0 ;
         }
      }
      .index__imagine__title__deco{
         @include fxc;
         position: absolute;
         left: 0px;
         width: 100%;
         margin: 15px 0 0;
         &:before,&:after{
            content: '';
            position: absolute;
            background-color: #ffffff;
            height: 1px;
         }
         &:before{
            top: -3px;
            right: 20%;
            left: 0px;
         }
         &:after {
            bottom: -3px;
            right: 0px;
            left: 20%;
         }
      }
      .index__imagine__content{
         font-size: 1.75em;
         letter-spacing: 4px;
         line-height: 1.5em;
         
         @include MCW(861px) {
            font-size: 1em;
            letter-spacing: 2px;
            font-weight: bold;
         }
      }
      &.type__no__02 {
         @include ds(0px, 0px, 0px, transparent);
         color: $color_deeper;
         .index__imagine__title {
            -webkit-text-stroke-color: $color_deeper;
         }
         .index__imagine__title__deco {
            &:before,
            &:after {
               background-color:$color_deeper;
            }
         }
         .index__imagine__featureball__block {
            @include fxe; 
            width: 100%;
            position: relative;
            height: 100%;
            min-height: 170px;
            .index__imagine__featureball__imagine{
               position: absolute;
               bottom: -15px;
               z-index: 10;
               width: 100%;
               max-width: 800px;
               @include MCW(861px){
                  max-width: 600px;
                  padding: 0 30px ;
               }
            }
         }
      }
      &.type__no__03 {
         align-items: flex-start;
         @include ds(0px, 0px, 0px, transparent);
         color: $color_major;
         @include MCW(910px){
            align-items: flex-end;
         }
         .type__img {
            @include MCW(861px) {
               display: flex;
               max-width: 320px;
               margin: 20px 0 0;
            }
         }
         .index__imagine__title {
            -webkit-text-stroke-color: $color_major;
         }
         .index__imagine__title__deco {
            &:before,
            &:after {
               background-color: $color_major;
            }
         }
      }
      &.type__no__04 {
         @include ds(0px, 0px, 0px, transparent);
         color: #414141;
         
         // padding: 20p 0;
         .type__content {
            position: relative;
            padding: 150px 10px;
            &:before{
               @include fxc;
               content: '';
               // width: 120%;
               left: -100px;
               right: -65px;
               height: 100%;
               transform: skew(-15deg);
               position: absolute;
               z-index: -1;
               top: 0;
               background-color: #ffffff9f;
               @include ds(0px, 0px, 10px, #00000048);
               @include MCW(861px) {
                  background-position: 30% center;
                  transform: skew(0deg);
                  left: 0;
                  right: 0;
                  width: 100%;
                  display: none;
               }
            }
         }

         .index__imagine__title {
            -webkit-text-stroke-color: #414141;
         }

         .index__imagine__title__deco {
            &:before,
            &:after {
               background-color: #414141;
            }
         }
      }

   }
   .img_box{
      img{
         width: 100%;
      }
   }
}

.video_box{
   @include ibl;
   width: 100%;
   overflow: hidden;
   iframe{
      width: 100%;
      height: 100%;
   }
}

.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

.banner_slide_container{
   .swiper-pagination{
      z-index: 4;
   }
   .swiper-pagination-bullet {
      position: relative;
      box-sizing: border-box;
      bottom: 30px;
      width: 8px;
      height: 8px;
      background: rgba(255, 255, 255, 0.856);
      @include tst;
      @include ds(1px,1px,0px, rgb(85, 85, 85));
      border: 1px solid rgb(255, 255, 255);
      margin: 0 8px!important;
      border-radius: 3px;
      outline: none;;
      margin: 0 6px;
      width: 37px;
      height: 8px;
      opacity: .4;
      bottom: 20px;
      @include MCW(861px) {
         bottom: 15px;
      }
   }
   .swiper-pagination-bullet-active {
      background: #fffffff1;
      opacity: 1;
   }
   .swiper_overflower{
      overflow:hidden;
   }
   .swiper-button-prev ,
   .swiper-button-next {
      background-size: 140%;
      outline:none;
   }
   .swiper-button-prev.swiper-button-disabled, 
   .swiper-button-next.swiper-button-disabled{
      opacity: 1;
   }
}



