$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;


$color_productDetailAll_major: #259bd6;
$color_productDetailSingle_major: #4cba59;
$color_productDetail_minor:#ff8736;

//global member setting
.select__box {
   @include fxfs;
   width: 100%;
   padding: 5px 0;

   .selecter {
      font-size: 1em;
      font-family: 'Century Gothic', 'Arial', 'Source Sans Pro', 'Muli', '微軟正黑體', 'FontAwesome', '新細明體';
      margin: 8px 10px 8px 0;
      box-sizing: border-box;
      // padding: 10px;
   }

   option {
      font-family: 'Century Gothic', 'Arial', 'Source Sans Pro', 'Muli', '微軟正黑體', 'FontAwesome', '新細明體';
      font-size: 17px;
   }
}


.member__block {
   @include fxcw();
   align-items: flex-start;
   margin: 20px 0 40px;

   @include MCW(800px) {
      justify-content: center;
   }

   .member__box {
      @include fxv;
      width: 100%;
      max-width: 580px;
      justify-content: space-between;
      padding: 15px 25px;
      margin: 10px;
      min-height: 380px;
      border: 1px solid #0000002a;
      background-color: #ffffff;

      &.type__register {
         // flex-direction: row;
         // justify-content: flex-start;
         padding: 5px 32px 30px;
         max-width: 780px;
         flex-direction: row;
         flex-wrap: wrap;
         border: 0px;
         box-shadow: 0px 0px 15px #00000023;

         @include MCW(781px) {
            padding: 5px 15px 30px;
         }

         @include MCW(581px) {
            margin: 0;
         }
      }

      @include MCW(1221px) {
         min-height: unset;
      }
   }

   .member__head__box {
      @include fxfsw();
   }

   .member__title {
      @include fxfsw();
      font-size: 20px;
      font-weight: bold;
      color: #222222;
      margin: 30px 0  ;
      line-height: 1.3em;
      letter-spacing: 2px;
   }

   .member__title__sub {
      @include fxfsw(150px);
      font-size: .8em;
      padding: 0  0 0 10px;
   }



   .member__tip {
      @include ib;
      line-height: 24px;
      padding: 3px ;
      font-size: 15px;
      color: $color_major;
      font-weight: 600;
      @include MCW(370px) {
         width: 100%;
      }
   }

   .member__input__box {
      @include fxbw(350px);
      padding: 0 20px 0 0;
      margin: 15px 0;
      justify-content: flex-start;
      @include MCW(781px) {
         max-width: 100%;
         margin: 9px 0;
         padding: 0 0px 0 0;
      }
      &.type__between {
         justify-content: space-between;
         max-width: 100%;
      }
      &.type__free {
         float: left;
         width: auto;
         max-width: unset;
         flex-wrap: nowrap;
         .member__input__title{
            width: auto;  
            max-width: unset;
            @include nowrap;
         }
      }
      &.type__full {
         justify-content: flex-start;
         max-width: 100%;
      }
      &.type__verification {
         @include fxfsw();
      }

   }

   .member__input__title {
      @include fxfsw(105px);
      // @include nowrap;
      margin: 0px 0;
      text-align: left;
      font-size: 15px;
      user-select: none;
      padding: 0 10px 0 0;

      &.type__full {
         max-width: 140px;
         padding: 0 10px 0 0;
      }
   }

   .member__radio__box {
      @include fxfsw();
      margin: 15px 0;
      .title {
         max-width: 140px;
         width: 100%;
      }

      .tip {
         color: $color_major;
      }
   }

   .member__forget__box {
      @include fxbw();
      padding: 0 20px 0 0;
      margin: 5px 0;

      @include MCW(990px) {
         margin: 9px 0;
      }

      .title {
         @include fxfs;
         width: 100%;
         max-width: 70px;
         text-align: left;
         font-size: 14px;
         user-select: none;
      }
   }

   //page setting
   .select__box {
      @include fxfsw();
      &.type__full{
         width: 100%;
         max-width: 100%;
      }
      .selecter{
         width: 100%;
         max-width: 30%;
         border-width: 0 0 1px 0;
         background-color: transparent;
      }
      @include MCW(521px) {
         max-width: 100%;
      }
   }

   .btn__box {
      @include fxfsw();
      padding: 12px 0;
   }

   .radio_box {
      min-width: unset;

      label {
         padding: 7px 0;
      }
   }

   .button {
      margin: 0;
   }

   .texter {
      max-width: calc(100% - 110px);
      width: 100%;
      max-height: 36px;
      &.type_full {
         max-width: unset;
         // margin: 10px 0;
      }
      &.type__verification {
         max-width: 100px;
      }
   }

   //other setting
   .agree_box {
      @include ibl;
      margin: 16px 0;
      width: 100%;
      line-height: 24px;
   }
   .reg__img {
      padding: 0 20px 0 0;
      width: 80px;
      height: 32px;

      img {
         width: 100%;
      }
   }
   a{
      text-decoration: underline;
   }
}

.content__block {
   @include fxfs;
   float: left;
   width: 100%;
   margin: 20px 0;

   .title {
      @include ibl;
      line-height: 26px;
      width: 100%;
      font-size: 1.1em;
      letter-spacing: 1px;
      font-weight: bold;
      color: #666;
      padding: 0 0 5px 0;
      @include MCW(891px) {
         font-size: 1em;
         letter-spacing: 0px;
      }
      i {
         color: $color_major;
         padding: 0 10px 0 0;
      }
   }

   .content {
      @include fxfsw();
      padding: 8px 0;
      // font-size: 18px;
   }
}

//註冊完成選擇區塊box
