$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;


$color_productDetailAll_major: #259bd6;
$color_productDetailSingle_major: #4cba59;
$color_productDetail_minor:#ff8736;

//global member setting
.select__box {
   @include fxfs;
   width: 100%;
   padding: 5px 0;

   .selecter {
      height: 36px;
      font-size: 1em;
      font-family: 'Century Gothic', 'Arial', 'Source Sans Pro', 'Muli', '微軟正黑體', 'FontAwesome', '新細明體';
      margin: 8px 10px 8px 0;
      box-sizing: border-box;
      // padding: 10px;
   }

   option {
      font-family: 'Century Gothic', 'Arial', 'Source Sans Pro', 'Muli', '微軟正黑體', 'FontAwesome', '新細明體';
      font-size: 17px;
   }
}

.member__block {
   @include fxcw();
   -webkit-box-align: start;
           align-items: flex-start;
   margin: 20px 0 40px;

   @include MCW(800px) {
      -webkit-box-pack: center;
              justify-content: center;
   }

   .member__box {
      @include fxv;
      width: 100%;
      max-width: 580px;
      -webkit-box-pack: justify;
              justify-content: space-between;
      padding: 15px 25px;
      margin: 10px;
      min-height: 380px;
      border: 1px solid #0000002a;
      background-color: #ffffff;

      &.type__register {
         // flex-direction: row;
         // justify-content: flex-start;
         padding: 5px 32px 30px;
         max-width: 780px;
         -webkit-box-orient: horizontal;
         -webkit-box-direction: normal;
                 flex-direction: row;
         flex-wrap: wrap;
         border: 0px;
         box-shadow: 0px 0px 15px #00000023;

         @include MCW(781px) {
            padding: 5px 15px 30px;
         }

         @include MCW(581px) {
            margin: 0;
         }
      }

      @include MCW(1221px) {
         min-height: unset;
      }
   }

   .member__head__box {
      @include fxfsw();
   }

   .member__title {
      @include fxfsw();
      font-size: 20px;
      font-weight: bold;
      color: #222222;
      margin: 30px 0  ;
      line-height: 1.3em;
      letter-spacing: 2px;
   }

   .member__title__sub {
      @include fxfsw(150px);
      font-size: .8em;
      padding: 0  0 0 10px;
   }

   .member__tip{
      @include ib;
      line-height: 24px;
      padding: 3px ;
      font-size: 15px;
      color: $color_major;
      font-weight: 600;
      @include MCW(370px) {
         width: 100%;
      }
   }

   .member__input__box {
      @include fxbw(350px);
      padding: 0 20px 0 0;
      margin: 15px 0;
      -webkit-box-pack: start;
              justify-content: flex-start;
      @include MCW(781px) {
         max-width: 100%;
         margin: 9px 0;
         padding: 0 0px 0 0;
      }
      &.type__between {
         -webkit-box-pack: justify;
                 justify-content: space-between;
         max-width: 100%;
      }
      &.type__free {
         float: left;
         width: auto;
         max-width: unset;
         flex-wrap: nowrap;
         .member__input__title{
            width: auto;  
            max-width: unset;
            @include nowrap;
         }
      }
      &.type__full {
         -webkit-box-pack: start;
                 justify-content: flex-start;
         max-width: 100%;
      }
      &.type__verification {
         @include fxfsw();
      }

   }

   .member__input__title {
      @include fxfsw(105px);
      // @include nowrap;
      margin: 0px 0;
      text-align: left;
      font-size: 15px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      padding: 0 10px 0 0;

      &.type__full {
         max-width: 140px;
         padding: 0 10px 0 0;
      }
   }

   .member__radio__box {
      @include fxfsw();
      margin: 15px 0;
      .title {
         max-width: 140px;
         width: 100%;
      }

      .tip {
         color: $color_major;
      }
   }

   .member__forget__box {
      @include fxbw();
      padding: 0 20px 0 0;
      margin: 5px 0;

      @include MCW(990px) {
         margin: 9px 0;
      }

      .title {
         @include fxfs;
         width: 100%;
         max-width: 70px;
         text-align: left;
         font-size: 14px;
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
      }
   }

   //page setting
   .select__box {
      @include fxfsw();
      .select__ele{
         @include fxcw(160px);
      }
      &.type__full{
         width: 100%;
         max-width: 100%;
      }
      .selecter{
         width: 100%;
         // max-width: 30%;
         border-width: 0 0 1px 0;
         background-color: transparent;
      }
      @include MCW(521px) {
         max-width: 100%;
      }
   }

   .btn__box {
      @include fxfsw();
      padding: 12px 0;
   }

   .radio_box {
      min-width: unset;

      label {
         padding: 7px 0;
      }
   }

   .button {
      margin: 0;
   }

   .texter {
      max-width: calc(100% - 110px);
      width: 100%;
      max-height: 36px;
      &.type_full {
         max-width: unset;
         // margin: 10px 0;
      }
      &.type__verification {
         max-width: 100px;
      }
   }

   //other setting
   .agree_box {
      @include ibl;
      margin: 16px 0;
      width: 100%;
      line-height: 24px;
   }
   .reg__img {
      padding: 0 20px 0 0;
      width: 80px;
      height: 32px;

      img {
         width: 100%;
      }
   }
   a{
      text-decoration: underline;
   }
}

.content__block {
   @include fxfs;
   float: left;
   width: 100%;
   margin: 20px 0;
   .title {
      @include ibl;
      line-height: 26px;
      width: 100%;
      font-size: 1.1em;
      letter-spacing: 1px;
      font-weight: bold;
      color: #666;
      padding: 0 0 5px 0;
      @include MCW(891px) {
         font-size: 1em;
         letter-spacing: 0px;
      }
      i {
         color: $color_major;
         padding: 0 10px 0 0;
      }
   }

   .content {
      @include fxfsw();
      padding: 8px 0;
      // font-size: 18px;
   }
}

 
.area {
   .container {
      &.type__member__main__content {
         @include fxc;
         -webkit-box-align: start;
                 align-items: flex-start;
         padding: 32px 0;
         overflow: visible;
      }
      &.type__member {
         @include fxc;
         padding: 0;
      }
   }
}

.page {

   //會員專區
   .member__main__block {
      width: 100%;
      margin: 0 40px 0 0;

      &.member__main__item {
         @include fxfs;
         
         background-color: #ffffff;
         box-shadow: 0px 0px 25px #00000023;
         @include MCW(1301px) {
            padding: 20px 10px;
         }
      }

      @include MCW(1301px) {
         max-width: 100%;
         margin: 0;
      }

      .member__main__tab__item {
         width: 100%;
         display: none;
         padding: 30px 40px;
         &.member__main__tab__item--active {
            display: block;
         }

         &.type__full{
            padding: 30px 0;
         }
         @include MCW(781px) {
            padding: 10px 7px;
         }
      }
      .tab__item__container{
         padding: 0px 40px;
         @include MCW(781px) {
            padding: 0px 6px;
         }
      }

      .member__main__title {
         font-weight: 600;
         font-size: 1.2em;
         letter-spacing: 2px;
         color: $color_major;
         border: solid 1px;
         padding: 15px 0;
         width: 100%;
         border-color: transparent transparent #d3d3d3 transparent;

         &.type__all {
            // color: $color_productDetailAll_major;
         }

         &.type__single {
            // color: $color_productDetailAll_major;
         }

         i {
            padding: 0 12px 0 0;
         }
      }

   }

   .member__tab__block {
      @include fxfs;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      @include MCW(1301px) {
         margin: 0 10px;
      }

      .member__tab__box {
         @include fxc;
         border: transparent 3px solid;
         width: auto;
         padding: 20px;
         font-size: 1em;
         color: #777777;
         letter-spacing: 1px;
         cursor: pointer;

         &.member__tab__box--active {
            border-color: transparent transparent $color_major transparent;
            color: $color_major;
            font-weight: bold;
            pointer-events: none;
         }

         @include MCW(861px) {
            padding: 10px 5px;
            font-size: .9em;
         }
      }

   }

   .member__main__content {
      @include ibl;
      width: 100%;
      padding: 20px 0 30px;
      line-height: 24px;

      .member__head__box {
         @include fxfsw();
      }

      .member__title {
         @include fxfsw();
         font-size: 20px;
         font-weight: bold;
         color: #222222;
         margin: 30px 0;
         line-height: 1.3em;
         letter-spacing: 2px;
      }

      .member__input__box {
         @include fxbw(350px);
         padding: 0 20px 0 0;
         margin: 15px 0;
         -webkit-box-pack: start;
                 justify-content: flex-start;

         @include MCW(781px) {
            max-width: 100%;
            margin: 9px 0;
            padding: 0 0px 0 0;
         }

         &.type__between {
            -webkit-box-pack: justify;
                    justify-content: space-between;
            max-width: 100%;
         }

         &.type__free {
            float: left;
            width: auto;
            max-width: unset;
            flex-wrap: nowrap;

            .member__input__title {
               width: auto;
               max-width: unset;
               @include nowrap;
            }
         }

         &.type__full {
            -webkit-box-pack: start;
                    justify-content: flex-start;
            max-width: 100%;
         }

         &.type__verification {
            @include fxfsw();
         }

      }

      .member__input__title {
         @include fxfsw(115px);
         // @include nowrap;
         margin: 0px 0;
         text-align: left;
         font-size: 15px;
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
         padding: 0 10px 0 0;

         &.type__full {
            max-width: 140px;
            padding: 0 10px 0 0;
         }
         .member__tip{
            color: $color_major;
            padding: 0 0 0 8px;
         }
      }

      .member__radio__box {
         @include fxfsw();
         margin: 15px 0;

         .title {
            max-width: 140px;
            width: 100%;
         }

         .tip {
            color: $color_major;
         }
      }

      .member__forget__box {
         @include fxbw();
         padding: 0 20px 0 0;
         margin: 5px 0;

         @include MCW(990px) {
            margin: 9px 0;
         }

         .title {
            @include fxfs;
            width: 100%;
            max-width: 70px;
            text-align: left;
            font-size: 14px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
         }
      }


      //page setting
      .select__box {
         @include fxfsw(300px);
         &.type__full {
            width: 100%;
            max-width: 100%;
         }

         .selecter {
            width: 100%;
            // max-width: 40%;
            border-width: 0 0 1px 0;
            background-color: transparent;
         }

         @include MCW(521px) {
            max-width: 100%;
         }
      }

      .btn__box {
         @include fxfsw(320px);
         padding: 12px 0;
      }

      .radio_box {
         min-width: unset;

         label {
            padding: 7px 0;
         }
      }

      .button {
         margin: 0;
      }

      .texter {
         max-width: calc(400px);
         width: 100%;
         max-height: 36px;

         &.type_full {
            max-width: unset;
            // margin: 10px 0;
         }

         &.type__verification {
            max-width: 100px;
         }
      }


   }

   .member__tab__block {
      .swiper-wrapper {
         flex-wrap: nowrap;
      }
      .member__tab__prev {
         background-image: url('../img/global/member__tab__prev.svg');
         left: 0;
      }

      .member__tab__next {
         background-image: url('../img/global/member__tab__next.svg');
         
         right: 0;
      }

      .member__tab__prev,
      .member__tab__next {
         // background-size: 100%;
         @include tst;
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
         outline: none;
         @include atb;
         width: 25px;
         height: 60px;
         box-shadow: 0px 0px 20px #00000031;

         &::after {
            display: none;
         }
      }

      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
         opacity: 0;
      }
   }

   .member__box {
      @include fxbw(450px);
      float: left;
      margin: 15px 10px;
      // border: 1px solid #cccccc;
      -webkit-box-align: start;
              align-items: flex-start;
      color: #444444;
      // box-shadow: 0px 0px 10px #0000003a;
      -webkit-transition: .1s ease-in-out;
      transition: .1s ease-in-out;
      font-size: .9em;
      position: relative;

      @include MCW(1301px) {
         max-width: 47%;
      }

      @include MCW(981px) {
         max-width: 800px;
         margin: 10px 0;
      }

      .member__imagine {
         @include fxcw(158px);
         height: 120px;

         @include MCW(501px) {
            display: none;
         }
      }

      .member__content__box {
         @include fxfsw();
         padding: 8px 15px 8px 10px;
         max-width: calc(100% - 160px);

         @include MCW(501px) {
            max-width: 100%;
         }
      }

      .member__content__title {
         @include nowrap;
         font-size: 1.2em;
         font-weight: 600;
         color: $color_major;
      }

      .member__content__article {
         @include iblw();
         @include multi-nowrap(4);
         padding: 4px 0 0 0;
         height: 78px;
         line-height: 19px;

      }

      .member__content__classification {
         @include iblw();
         @include multi-nowrap(2);
         height: 50px;

      }

      .member__content__container {
         @include fxbw();
         flex-wrap: nowrap;
         margin: 6px 0 0 0;
         max-height: 28px;
      }

      .member__content__type {
         @include nowrap;
         width: 100%;
         max-width: 90px;
      }

      .member__content__price {
         @include fxfew();
         @include nowrap;
         ;
         flex-wrap: nowrap;

         .original__price {
            padding: 0 10px 0 0;
            text-decoration: line-through;
            font-size: .9em;
         }

         .latest__price {
            color: #cf1818;
            font-weight: 600;
         }
      }

      .search__result__content__teacher {
         @include fxfew();
         @include nowrap;
         flex-wrap: nowrap;
      }

      &.type__course {
         &:after {
            content: '';
            right: 0px;
            position: absolute;
            width: 6px;
            height: 100%;
         }

         &.type__all {
            .search__result__content__title {
               // color: $color_productDetailAll_major;
            }

            &:after {
               background-color: $color_productDetailAll_major;
            }
         }

         &.type__single {
            .search__result__content__title {
               // color: $color_productDetailSingle_major;
            }

            &:after {
               background-color: $color_productDetailSingle_major;
            }

         }
      }

   }

   .member__nothing__box {
      @include fxcw();
      display: none;
      color: #999999;
      font-size: 1.3em;
      padding: 30px;
      margin: 20px 0;
      letter-spacing: 2px;

      &.search__result__nothing__box--isshow {
         display: -webkit-box;
         display: flex;
      }
   }


   //會員專區組件
   .order__block{
      @include fxcw();
      border:1px solid #bbbbbb;
      padding: 20px;
      margin: 10px 0 ;
      @include MCW(861px) {
         border:1px solid transparent;
         padding: 0px;
      }

      .order__box{
         @include fxew();
         padding: 8px 0;
         
         @include MCW(861px) {
            margin: 10px 0;
         }
      }

      .order__ele__box{
         @include fxcw(120px);

         @include MCW(861px){
            @include fxcw();
            padding:5px;
            position: relative;
            cursor: pointer;
            &:first-child{
               padding: 10px;
               font-weight: 600;
               &:after{
                  content: '';
                  @include arl;
                  position: absolute;
                  width: 80%;
                  height: 1px;
                  background-color: #bbbbbb;
                  opacity: 1;
                  bottom: 2px;
               }
            }

         }

      }

      .order__ele{
         @include fxcw();
         @include MCW(861px) {
            @include fxbw(50%);
         }
         &.order__ele__title {
            @include fxcw(50%);
            display: none;
            @include MCW(861px) {
               display: -webkit-box;
               display: flex;
            }
         }

         &.order__ele__number{
            cursor: pointer;
            text-decoration: underline;
         }
         &.order__ele__date {

         }
         &.order__ele__price{
            color:#c20c2b;
         }
      }
      .order__title {
            @include MCW(861px) {
               display: none;
            }
      }
      .order__content{
         @include MCW(861px) {
            border: #696969 1px solid;
            padding: 10px;
         }
      }
   }

   .mailcase__block {
      @include fxcw();
      border: 1px solid #bbbbbb;
      padding: 20px 35px;
      margin: 10px 0;

      @include MCW(861px) {
         border: 1px solid transparent;
         padding: 0px;
      }

      .mailcase__box {
         @include fxfsw();
         padding: 8px 0;   
         .mailcase__title {
            &::before {
               @include fxcw(35px);
               float: left;
               content: 'NEW';
               font-size: .7em;
               padding: 0 3px;
               color: #ffffff;
               background-color: $color_major;
               margin:  0 3px ;
            }

         }

         &.mailcase__box--isread {
            .mailcase__title{
               &::before {
                  display: none;
               }
            }
         }
      }

      .mailcase__head{
         @include fxfsw();
         -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
                 user-select: none;
      }

      .mailcase__title__box{
         @include fxfsw(600px);
         -webkit-box-align: center;
                 align-items: center;
      }
      .collapse__box {

      }
      .mailcase__title{
         @include iblw(calc(100% - 40px));

         float: left;
         color: $color_major;
         @include hover;
         padding:  0 0 0 8px;
         @include nowrap;
      }
      .mailcase__info__box{
         @include fxfew(calc(100% - 600px));
         @include MCW(861px) {
            max-width: 100%;
         }
      }  
      .mailcase__date{
         padding: 0 10px 0 0;
      }
      .mailcase__delet{
         border: 1px solid #999999;
         padding: 2px 8px;
         @include hover;
      }

      .mailcase__body{
         @include fxfsw();
         padding: 0 0 0 11.5px;
      }

      .mailcase__container{
         width:100%;
         border: solid #999999;
         border-width: 0 0 0 1px;
         margin: 15px 0 5px;
         padding: 0 0 0 15px;
         display: none;
         &.mailcase__container--isshow{
            display: inline-block;
         }
         img{
            max-width: 600px;
            width: 100%;
            margin: 10px 0 0;
         }
      }

   }

   .mycourse__block {
      @include iblw();
      background-color: #ffffff;
      box-shadow: 0px 0px 20px #00000023;
      margin: 20px auto 10px;
      .step__third {
         
      }

      .step__second {

      }

      .step__first {

      }

      .mycourse__box{
         color: #666666;
         @include fxbw();
         padding: 0px 18px 0px 18px;
         @include MCW(580px) {
            padding: 0px 7px 0px 7px;
         }
         &.step__third{
            .mycourse__title__box {
               max-width: 100%;
            }
         }
         &.type__all__title {
            @include fxcw();
            padding: 8px;
            color: #ffffff;
            font-size: 1em;
            background-color: $color_productDetailAll_major;
            &+.step__second,
            &+.step__first {
               display: -webkit-box;
               display: flex;
               &::before {
                  display: none;
               }
            }
         }
         &.type__single__title {
            @include fxcw();
            padding: 8px;
            color: #ffffff;
            background-color: $color_productDetailSingle_major;
            &+.step__second,
            &+.step__first {
               display: -webkit-box;
               display: flex;
               &::before {
                  display: none;;
               }
               .title__step__first{
                  border: solid #dddddd;
                  border-width:  0;
                  @include MCW(1021px){
                     border-width: 1px 0 0 0;
                  }
               }
            }
         }

      }

      .mycourse__container{
         @include fxfsw();
         position: relative;

         &.step__third{
            background-color: #f1f1f1;
            border: solid #eeeeee;
            border-width: 1px 0 1px 0;
         }
         &.step__second {
            background-color: #ffffff;
            display: none;
         }
         &.step__first {
            background-color: #ffffff;
            display: none;
            &::before{
               content: '';
               position: absolute;
               left: 63px;
               width: 1px;


               top: 10px;
               bottom: 10px;
               margin:  auto 0;
               background-color: #cccccc;
               @include MCW(1092px){
                  display: none;
               }

               @include MCW(580px) {
                  // display: none;
               }
            }
         }
      }

      //階層關係
      .step__third {
         &.title__step__third--active{
         }

      }

      .title__step__third{
         max-width: unset;
         &~.mycourse__container {
            .title__step__second{
               padding-left: 52px;
               @include MCW(580px) {
                  padding:2px 18px 2px 18px;
               }
            }
         }
      }

      .step__second {
         border: solid #dddddd;
         border-width: 1px 0 0 0;
         
         &.title__step__second--active {

         }
         &.step__second--isopen {
            display: -webkit-box;
            display: flex;
         }
         &+.step__first {
            padding: 7px 14px 7px 57px;
         }
      }

      .title__step__second {
         background-color: #ffffff;
         border: solid #dddddd;
         border-width: 1px 0 0 0;
         // padding-left: 35px;
         &~.mycourse__container{
            .title__step__first {
               padding-left: 77px;
               @include MCW(580px) {
                  padding: 2px 18px 2px 4px;
               }
            }
         }

      }

      .step__first {
         background-color: #ffffff;

         &.title__step__first--active {

         }
         &.step__first--isopen {
            display: -webkit-box;
            display: flex
         }
      }

      .mycourse__title__box{
         @include fxfsw(600px);
         @include hover;
         padding: 7px 0;
      }
      .mycourse__info__box{
         @include fxfew(300px);
         padding: 4px 0;
         @include MCW(1020px) {
            max-width: 100%;
            // justify-content: space-between;
            // justify-content: flex-start;
         }
      }
      .mycourse__info__ele{
         text-align: center;;
         border: 1px solid #999999;
         color: #999999;
         font-size: 1.1em;
         padding: 3px 7px;
         margin: 0 5px;
         i{
            font-size: 1em;
         }
         &.mycourse__check{
            border: 1px solid transparent;
            color: #b8b8b8;
         }
      }

      .mycourse__count{
         @include fxcw(100px);
         @include nowrap;
         border:transparent;
         
         color: $color_productDetailSingle_major;
         font-size: .9em;
         @include MCW(1020px) {
            
         }
         &.percent {
            text-decoration: underline;
         }
         &.date {
            
         }
         &.price {
            color: #db303e;
         }
         &.hours{
            color:#777777;
         }
      }

      .mycourse__title{
         @include fxfsw(calc(100% - 35px));
         padding: 0 0 0 24px;
         position: relative;
         &.mycourse__title--isover{
            color: #cccccc;
            &::before{
               position: absolute;
               float: left;
               left: -2px;
               content: '';
               background-image: url('../img/global/checker.svg');
               background-position: center;
               background-size: 100%;
               @include fxcw(20px);
               // border: 1px solid #5adf6c;
               border-radius: 100px;
               height: 20px;
               // margin:  0 5px 0 0;
               @include MCW(550px){
                  left: 3px;
               }
            }
         }
         &.mycourse__title--iswatched{
            color: #aaaaaa;
         }
      }
      .mycourse__title__text{
         font-size:1.1em;
         letter-spacing: 1px;
         font-weight: 600;
         i{
            padding:  0 6px 0 0;
         }
      }
      .collapse__box {
         border: 1px solid $color_productDetailAll_major;
         .collapse__ele {
            background-color: $color_productDetailAll_major;
         }
      }


   }

   .search__block{
      @include fxfsw(300px);
      margin:  10px 0;
      .member__input__title{
         @include fxfsw(100px);
      }
      .select__box{
         @include fxfsw(100px);

      }
      .selecter{
         border-width: 0 0 1px 0;;
         background-color: transparent;
         outline: 0px solid transparent;
      }

   }

   .control__block{
      @include fxfew(300px);
      @include MCW(600px){
         -webkit-box-pack: start;
                 justify-content: flex-start;
      }
      .control__ele{
         padding:  8px;
         @include hover;
         color: $color_major;
      }
   }

   .course__time__detail__block {
      // display: none;
   }

   //會員專區組件
   .member__tab__block__sub {
      @include fxfs;
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      overflow: hidden;
      position: relative;
      background-color: #f3f3f3;

      @include MCW(1301px) {}

      .swiper-wrapper{
         flex-wrap: nowrap;
      }
      .member__tab__sub__box {
         @include fxc;
         border: transparent 3px solid;
         width: auto;
         padding: 12px 8px;
         font-size: 1em;
         color: #777777;
         letter-spacing: 1px;
         cursor: pointer;

         &.member__tab__sub__box--active {
            border-color: transparent transparent $color_major transparent;
            color: $color_major;
            font-weight: bold;
         }

         @include MCW(861px) {
            padding: 10px 5px;
            font-size: .9em;
         }
      }

      //swiper__controller
      .member__tab__sub__prev {
         background-image: url('../img/global/member__tab__prev.svg');
         left: 0;
      }

      .member__tab__sub__next {
         background-image: url('../img/global/member__tab__next.svg');

         right: 0;
      }

      .member__tab__sub__prev,
      .member__tab__sub__next {
         // background-size: 100%;
         @include tst;
         background-size: 100%;
         background-position: center;
         background-repeat: no-repeat;
         outline: none;
         @include atb;
         width: 25px;
         height: 60px;
         box-shadow: 0px 0px 20px #00000031;

         &::after {
            display: none;
         }
      }

      .swiper-button-prev.swiper-button-disabled,
      .swiper-button-next.swiper-button-disabled {
         opacity: 0;
      }
   }

   .member__main__tab__sub__item {
      display: none;
      padding: 30px 0;

      &.member__main__tab__sub__item--active {
         display: -webkit-box;
         display: flex;
      }
   }

   .member__coupon__value__block {
      @include fxfsw();
      padding: 15px 0;
      .member__coupon__value__box{
        @include fxfsw();
        margin: 8px 0;
      }

      .member__coupon__value__title{
         @include fxfsw();
         font-size: 1em;
         font-weight: 600;
         color: #666666;
         margin: 18px 0 0;
         i{
            padding:  0 10px 0 0;
            font-size: 1em;
            color: #999999;
         }
      }

      .member__coupon__value__content{
         @include fxfsw();
         margin: 8px 0;
      }

      .member__coupon__box{
         @include fxbw(31%);
         border: 1px solid #cccccc;
         margin: 10px 25px 10px 0px;
         box-shadow: 4px 4px 12px #00000017;
         position: relative;
         -webkit-transition: .1s ;
         transition: .1s ;
         cursor: pointer;
         @include MCW(1170px){
            max-width: 48%;
            margin: 10px 10px 10px 0px;
         }
         @include MCW(781px) {
            max-width: 500px;
            margin:5px  0 ;
         }
         &:hover{
            -webkit-transform: translate(1px,1px);
                    transform: translate(1px,1px);
            box-shadow: 2px 2px 5px #00000017;
            opacity: 1;
         }
         &.value__1000{
            .member__coupon__imagine{
               background-color: #1277B5;
            }
         }
         &.value__2000 {
            .member__coupon__imagine {
               background-color: #ffa934;
            }
         }
         &.value__3000 {
            .member__coupon__imagine {
               background-color: #4cba59;
            }
         }
         &.value__4000 {
            .member__coupon__imagine {
               background-color: #d1364e;
            }
         }
         &.value__nan{
            .member__coupon__imagine {
               background-color: #cccccc;
            }
            .member__coupon__nan__value{
               color:#ffffff;
               -webkit-transform: skew(-12deg);
                       transform: skew(-12deg);
               font-size: 1.2em;
               -webkit-text-stroke: 1px #ffffff;
            }
            .member__coupon__rule {
               color: #cccccc;
            }
            .member__coupon__item {
               color: #cccccc;
               &.member__coupon__value {
                  .value {
                     color: #cccccc;
                  }
               }
            }
         }
         &.type__demo{
            cursor: default;
            &:hover {
               -webkit-transform: translate(0px, 0px);
                       transform: translate(0px, 0px);
               box-shadow: 4px 4px 12px #00000017;
            }

         }
      }

      .member__coupon__imagine{
         @include fxcw(100px);
         height: 100px;
         background-color: #666666;
         img{
            max-width: 55px;
         }
      }

      .member__coupon__content {
         @include fxfsw(calc(100% - 110px));
         height: 100%;
      }

      .member__coupon__item{
         @include iblw();
         padding: 3px 0;
         @include nowrap;
         color: #555555;
         &.member__coupon__value{
            .value{
               color:#cc1a1a;
               padding: 0 0 0 10px;
            }
         }
      }

      .member__coupon__rule{
         @include fxfew(75px);
         text-decoration: underline;
         position: absolute;
         right: 5px;
         bottom: 8px;
         color:$color_major;
      }

   }

   .back__block{
      @include fxfsw();
      -webkit-box-align: center;
              align-items: center;
      margin: 20px 0 10px;
      color:#444444;
      font-weight: 600;
      font-size: 1.1em;
      i{
         padding:  0 8px 0 0;
      }
   }

}


.control__pannel__block{
   @include fxbw();
   margin: 10px 0;
}

.tip__block{
   @include fxfsw();

   .tip__tiper{
      padding: 0 7px 0 0;;
      color: $color_major;
   }
}

.collapse__box {
   @include fxcw(25px);
   height: 25px;
   position: relative;
   border: 1px solid #999999;
   @include hover;

   &.collapse__box--isopen {
      .ele__b {
         -webkit-transform: rotate(180deg);
                 transform: rotate(180deg);
      }
   }

   .collapse__ele {
      position: absolute;
      @include aa;
      height: 2px;
      background-color: #999999;
      width: 60%;
      -webkit-transition: .1s all ease-in-out;
      transition: .1s all ease-in-out;
   }

   .ele__b {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
   }


}

.course__time__detail__block{
   @include fxfsw();
   @include fxcw(600px);
   display: none;
   background-color: #ffffff;
   position: fixed;
   padding: 30px 35px;
   top: 20vh;
   max-height: 70vh;
   overflow-x: auto;
   overflow-y: auto;
   z-index: 11;

   @include MCW(980px) {
      top: 90px;
   }

   &.course__date__detail__block--isshow {
      display: -webkit-box;
      display: flex;
   }
   @include MCW(641px){
      .title__block{
         color: #555555;
      }
      padding: 8px;
      background-color: #ffffff;
      // color: #ffffff;
   }
   .course__list__content{
      margin: 15px 0;
      width: 100%;
   }
   .check_box{
      display: inline-block;
   }
   .btn__box{
      @include fxbw();
   }
}

.buy__time__block{
   @include fxfsw();
   .btn__box{
      @include fxfsw(380px);
      .button {
         text-decoration: none;
         text-align: center;
         @include MCW(500px) {
            max-width: 25vw;
            padding: 15px 20px;
            width: 100%;
            font-size: .9em
         }
      }

   }
   .select__box{
      @include fxfsw(250px);
      .select__ele{
         
      }
      .selecter{
         margin: 8px;
         height: 36px;

         border:1px solid #bbbbbb;
         font-size: 1.1em;
         @include MCW(500px) {
            font-size: .9em
         }
      }
   }
   .buy__time__title{
      @include fxfsw();
      font-weight: 600;
      font-size: 1.3em;
      
      margin: 15px 0 10px;
      color: $color_major;
   }
   .buy__time__price{
      @include fxfsw(80px);
      font-size: 1.2em;
      color: #cf1818;

   }
   .texter{

   }

   .button{
      font-size: 1.1em;
   }
}

.number__choose__box {
   margin: 8px;
   @include fxbw(180px);
   .number__choose__texter {
      max-width: calc(100% - 78px);
      width: 100%;
      border: 1px solid #bbbbbb;
   }
   .number__choose__ele {
      width: 27px;
      height: 27px;
      padding: 5px;
      position: relative;
      border: 1px solid #bbbbbb;
      @include hover;
      &.type__plus {
         .plus__item {
            @include ib;
            width: 60%;
            height: 2px;
            @include aa;
            position: absolute;
            background-color: $color_major;
         }

         .item__a {}

         .item__b {
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
         }
      }

      &.type__minus {
         .plus__item {
            @include ib;
            width: 60%;
            height: 2px;
            @include aa;
            position: absolute;
            background-color: $color_major;
         }
      }
   }

   
}


.course__date__detail__block__mask{
   position: fixed;
   display: none;
   @include aa;
   cursor: pointer;
   @include fxcw();
   height: 100vh;
   z-index: 10;
   background-color: #1d1d1db9;
}