

$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;

$color_productDetailAll_major: #259bd6;
$color_productDetailSingle_major: #4cba59;
$color_productDetail_minor:#ff8736;

.area {

   .container {

   }

}


#good_descrip {
   line-height: 26px;
   .goodpic {
      width: 100%;
   }
   h2 {
      color: #0572e5;
      font-size: 22px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 8px;
      margin-top: 40px;
   }


   h3 {
      font-size: 16px;
      margin-top: 10px;
      text-align: right;
   }

   h2 .fa {
      color: #0572e5;
      font-size: 30px;
      margin-right: 8px;
   }

   .intrbox {
      padding: 20px 40px 40px 40px;
      background-color: #eee;
      border-radius: 10px 10px 0 0;

      h1 {
         text-align: center;
         color: #0572e5;
         font-size: 22px;
         margin: 10px;
         letter-spacing: 2px;
      }

      p {
         text-align: center;
      }

      &:after {
         @include arl;

         content: "";
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 18px 10px 0 10px;
         border-color: #eee transparent transparent transparent;
         line-height: 0px;
         display: block;
         position: absolute;
      }

   }

   .good__descrip{

   }
   .good__title{
      text-align: left;
   }
   .good__picname{
      @include fxcw();
      text-align: left;
   }
   .good__pic{
      @include fxcw();
      text-align: left;
   }
   .good__recommand__block{
      @include fxbw();
      align-items: flex-start;
         .good__recommand__box {
            @include fxfsw(49%);
            &.good__recommand__line__qr{
               @include fxv();
               align-items: center;
            }
         }
   }

}

