@include resetCSS;

$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;

//因應header 產生上端下推

html{
   overflow-x: hidden;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
   &::-webkit-scrollbar {
      width: 13px;
      background-color:rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }
   &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin:8px 0 ;
   }
   &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgb(163, 163, 163);
   }
}
body{
   overflow-x: hidden;
   overflow-y: scroll; 

}
a{
   text-decoration: none;
   color: #1277B5;
   @include tst;
   &:hover{
      opacity: .7;
   }
   &.type2{
      text-decoration: underline;
      color: #1277B5;
   }
}
input{
   @include PlaceHolder-Style;
}
hr{
   @include bl;
   height: 1px;
   width: 100%;
   background-color: rgb(226, 226, 226);
   border: 0px;
   margin: 8px 0;
}
button{
   @include selection-none;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
   background: $color_major;
   border: 0px solid #fff;
   cursor:pointer;
   color:#fff;
   outline:none;
   @include tst;
   border-radius: 5px;
   padding: 12px 40px;
   margin: 8px;
   font-size: 16px;
   &:hover{
      opacity: .8;
   }
   &.type_gray{
      background: #ddd;
      color:#444;
   }
   &.shape{
      border-radius: 0;
   }
}
.header{
   @include fxc;
   height: 80px;
}

.area {
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type__gray{
      background-color: #f7f7f7;
   }
   .container {
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      margin: 0 auto;
      width: 100%;
      // max-width: 1440px;
      max-width: 1300px;
      padding: 20px 10px 5px;
      position: relative;
      z-index: 0;
      @include MCW(1441px) {
      }
      &.type__recommand__course{
          padding: 5px 0;
      }
      &.type__course__tab{
         @include fxc;
         padding:  0;
      }
      &.type__course__main__content{
         @include fxc;
         align-items: flex-start;

         padding: 24px 0;
      }

   }
}
.page {
   margin: 80px 0 0 0;
   @include MCW(781px) {
      margin: 60px 0 0 0;
   }
}
.bread_crumb_block {
   @include fxfs;
   width: 100%;
   line-height: 28px;
   overflow: hidden;
   max-height: 60px;
   @include M1301() {
   }

   .bread_crumb {
      @include fxfs;
      width: 100%;
      a{
         color:#555555;
      }
      .bread_crumb_item {
         @include fxc;
         font-size: 14px;
         margin: 0;
         padding: 0 10px 0 0px;
         .home {
            @include ibl;
            padding: 0px 8px 0 0;
            font-size: 16px;
            color: rgb(63, 63, 63);
         }
         .arrow {
            @include fxc;
            padding: 0px 12px 0 8px;
            font-size: 12px;
            color:#555555;
         }

         &.bc_first {}

         &.bc_last {
            font-weight: 600;
            color: $color_major;
         }
      }

   }
}

.title__block{ 
   font-size:1.7em;
   @include MCW(1921px) {
      font-size: calc(1.3em + 0.4vw);
   }
   
   letter-spacing: 2px;
   color: $color_major;
   font-weight: 600;
   margin: 20px 0;
}

.recommand__course__slider__block{
   @include fxc;
   width: 100%;
   margin:  0 auto;
   // max-width: 1380px;
   overflow: hidden;
   position: relative;
   padding: 2px 0;
   @include MCW(481px) {
      padding: 0;
   }
   .recommand__course__slider__box{
      width: 100%;
      max-width: calc(100% - 200px);
      letter-spacing: 1px;
      overflow: hidden;
      margin: 15px auto;
      @include MCW(481px){
         max-width: calc(100% - 100px);
      }
   }
   .recommand__course__item{
      @include ibl;
      width: 100%;
      box-sizing: border-box;
      max-width: 400px;
      box-shadow: 0px 0px 15px #29292927;
      background-color: #ffffff;
      padding: 8px 0 0;
      // margin: 0 12px;
      @include tst;
      &:hover{
         opacity: .85;
      }
   }
   .recommand__course__title {
      @include ibl;
      @include multi-nowrap(1);
      height: 30px;
      line-height: 21px;
      width: 100%;
      padding: 9px 16px 5px;
      font-size: 1.1em;
      font-weight: bold;;
      color: $color_deeper;
   }
   .recommand__course__sub{
      @include ibl;
      @include nowrap;
      width: 100%;
      padding: 5px 16px;
      font-size: .9em;
   }
   .recommand__course__info{
      @include fxfs;
      flex-wrap: nowrap;
      @include nowrap;
      padding: 0px 16px;
      width: 100%;
      font-size: .9em;
   }
   .recommand__course__ele{
      padding:  5px 8px 5px 0;
      color: $color_major;
      .course__type{
         
      }
      .course__teacher{

      }
   }
   .recommand__course__price{
      @include fxfe;
      box-sizing: border-box;
      padding: 6px 10px;
      margin: 5px 0 0;
      width: 100%;
      background-color: $color_major;
      color: #fafafa;
      font-weight: 600;;
      font-size: 1.1em;
      -webkit-text-stroke-width: .8px;
      -webkit-text-stroke-color:#fafafa;
      letter-spacing: 5px;
   }
   .rcmd__swiper__next,
   .rcmd__swiper__prev {
      background-size: 60px;
      width: 60px;
      height: 54px;
      @include atb;
      &:before,
      &:after {
         display: none;
      }
      @include MCW(481px) {
         background-size: 100%;
         width: 30px;
         height: 27px;
      }
   }
   .rcmd__swiper__next {
      background-image: url('../img/global/type_next.svg');
   }
   .rcmd__swiper__prev {
      background-image: url('../img/global/type_prev.svg');
   }
}

.course__type__tab__block{
   @include fxfs;
   width: 100%;
   margin:  0 auto;

   .course__type__tab__box{
      @include fxc;
      border: transparent 3px solid;
      width: auto;
      padding: 20px;
      font-size: 1.2em;
      color: #777777;
      cursor: pointer;
      &.course__type__tab__box--active{
         border-color: transparent transparent $color_major transparent;
         color: $color_major;
         font-weight: bold;
      }
      @include MCW(861px) {
         padding: 10px 5px;
         font-size: .9em;
      }
   }

}

.course__type__main__item {
   @include fxfs;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0px 0px 25px #00000023;
}

.course__type__main__block{
   width: 100%;
   max-width: 1000px;
   margin: 0 40px 0 0;
   @include MCW(1301px) {
      max-width: 100%;
      margin: 0 ;
   }
   .course__type__main__title{
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color:$color_major;
      border: solid 1px;
      padding: 15px 0;
      width:100%;
      border-color: transparent transparent #d3d3d3 transparent;
      i{
         padding:  0 12px 0 0;
      }
   }

}

.course__type__recommand__event__block{
   @include fxfs;
   align-items: flex-start;
   width: calc(100% - 1050px);
   // margin: 0 40px 0 0;
   @include MCW(1301px) {
      width: 100%;
      flex-wrap: nowrap;
   }
   @include MCW(420px) {
     flex-wrap: wrap;
   }
   .course__type__event__box {
      @include fxc;
      padding: 10px 0;
      width: 100%;
      max-width: 420px;;
      @include MCW(1301px) {
         padding: 10px ;
      }
      @include MCW(420px) {
         padding: 10px;
      }
   }
   .course__type__event__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color:#555555;
      padding: 15px 0;
      width:100%;
      i {
         padding: 0 12px 0 0;
      }
      @include MCW(1301px) {
         font-size:1em;
      }
   }

   .course__type__event__imagine {
      
      max-width: 100%;
      width: 100%;
   }
}






//文章區塊樣式
.course__type__main__content {
   @include ibl;
   width: 100%;
   padding: 20px 0;
   line-height: 24px;

}



.button{
   @include selection-none;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
   background: $color_major;
   border: 0px solid #fff;
   cursor:pointer;
   color:#fff;
   outline:none;
   @include tst;
   border-radius: 5px;
   padding: 12px 40px;
   margin: 8px;
   font-size: 16px;
   &:hover{
      opacity: .8;
   }
   &.type_gray{
      background: #ddd;
      color:#444;
   }
   &.shape{
      border-radius: 0;
   }
}

.nothing_block{
   @include fxc;
   width: 100%;
   padding:30px 0px;

   position: relative;
   @include MCW(861px) {
      padding:30px 15px;
   }
   .nothing{
      letter-spacing: 3px;
      color:#888;
      font-size: 22px;
      padding:80px 0px;
      max-height: 260px;
      width: 100%;
      border: 1px solid #ccc;
      @include fxc;
   };
}


//lazy and position focuspoint style
.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

.img_box {
   img {
      // width: 100%;
      max-width: 100%;
      // height: 100%;
      max-height: 100%;
   }
}
.lazy{
   @include fxc;
   background-image: url('../img/global/loading.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   &.lazied {
      background-image: unset;
   }
}


.tdu{
   text-decoration: underline;
}

.new_msg_active{
   &:before{
      content:'';
      @include ibl;
      position: absolute;
      top: -4px; 
      right: -4px;
      border-radius: 50px;
      border:2px solid #fff;;
      padding: 4px;
      background-color: #eb4a21;
   }
}

.isopen{
   transition: .3s all cubic-bezier(.03,.08,0,.99) ;
   opacity: 0;
   transform:scale(0.2);
}

.is_rotate{
   opacity: 0;
   transition: all .5s ease-in-out;
   transform:rotate(180deg);
}

.is_right{
   opacity: 0;
   transition: all .2s cubic-bezier(.03,.08,0,.99) ;
   transform:translateX(-120px);
}

