@include resetCSS;



$color_major:#1277B5;
$color_minor:#6fc1f4;
$color_deeper:#0b4366;
$color_gray:#777777;


$color_productDetailAll_major: #259bd6;
$color_productDetailSingle_major: #4cba59;
$color_productDetail_minor:#ff8736;
//因應header 產生上端下推

// * {   outline: #ff8736;   outline-width: 1px;   outline-style: solid;}



html{
   overflow-x: hidden;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體', '新細明體';
   &::-webkit-scrollbar {
      width: 13px;
      background-color:rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 10px;
      border-radius: 10px;
   }
   &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      margin:8px 0 ;
   }
   &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgb(163, 163, 163);
   }
}
body{
   overflow-x: hidden;
   overflow-y: scroll; 

}
a{
   text-decoration: none;
   color: #1277B5;
   @include tst;
   &:hover{
      opacity: .7;
   }
   &.type2{
      text-decoration: underline;
      color: #1277B5;
   }
}
input{
   @include PlaceHolder-Style;
}
hr{
   @include bl;
   height: 1px;
   width: 100%;
   background-color: rgb(226, 226, 226);
   border: 0px;
   margin: 8px 0;
}
button{
   @include selection-none;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
   background: $color_major;
   border: 0px solid #fff;
   cursor:pointer;
   color:#fff;
   outline:none;
   @include tst;
   border-radius: 5px;
   padding: 12px 40px;
   margin: 8px;
   font-size: 16px;
   &:hover{
      opacity: .8;
   }
   &.type_gray{
      background: #ddd;
      color:#444;
   }
   &.shape{
      border-radius: 0;
   }
}

.table__box {
   font-size: 1.1em;
   th{
      background-color: #eeeeee;
   }
   td{
      border: solid #eeeeee 1px;
      &.type__red{
         color:#ba3232;
      }
   }
   table{
      width: 100%;
   }
}

table{
   th,td{
      vertical-align: middle;
      padding:10px;
   }
}

.header{
   @include fxc;
   height: 80px;
}

.area {
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type__gray{
      background-color: #f7f7f7;
   }

   .container {
      display: block;
      box-sizing: border-box;
      overflow: hidden;
      margin: 0 auto;
      width: 100%;
      // max-width: 1440px;
      max-width: 1300px;
      padding: 20px 10px 5px;
      // position: relative;
      z-index: 0;
      @include MCW(1441px) {
      }
      &.type__recommand__course{
          padding: 5px 0;
      }
      &.type__course__tab{
         @include fxc;
         padding:  0;
      }
      &.type__course__main__content{
         @include fxc;
         align-items: flex-start;
         padding: 24px 0;
      }
      &.type__search__result__main__content {
         @include fxc;
         align-items: flex-start;
         padding: 24px 0;
      }
      &.type__search__result{
         @include fxc;
         padding: 0;
      }
      &.type__search__result {
         @include fxc;
         padding: 0;
      }
      &.type__articles {
         @include fxfsw(1300px);
         align-items: flex-start;
         padding: 25px 0;
         overflow: visible;
      }
   }
}

.page {
   margin: 80px 0 0 0;
   @include MCW(781px) {
      margin: 60px 0 0 0;
   }
}

//全站麵包屑樣式
.bread_crumb_block {
   @include fxfs;
   width: 100%;
   line-height: 28px;
   overflow: hidden;
   // max-height: 60px;
   @include M1301(){
      padding: 8px 0;
   }

   .bread_crumb {
      @include fxfs;
      width: 100%;
      a{
         color: $color_major;
      }
      .bread_crumb_item {
         @include fxc;
         font-size: 14px;
         margin: 0;
         // padding: 0 10px 0 0px;
         a{
            width: 100%;
            @include fxfsw(100%);
         }
         .home {
            @include ibl;
            padding: 0px 8px 0 0;
            font-size: 16px;
            // color: rgb(63, 63, 63);
            i{
               padding: 0 8px 0 0;
            }
         }

         .arrow {
            @include fxc;
            padding: 0px 12px 0 8px;
            font-size: 12px;
            color:$color_major;
         }
         &.bc_first {
            
         }
         &.bc_last {
            font-weight: 600;
            color: #666666;
         }
      }

   }
}

//全站標題樣式
.title__block{ 
   font-size:1.3em;
   @include MCW(1921px) {
      font-size: calc(1.3em + 0.4vw);
      margin: 20px 0;
   }
   letter-spacing: 2px;
   color: $color_major;
   font-weight: 600;
   margin: 20px 0;
   @include MCW(861px) {
      font-size: calc(1.3em + 0.4vw);
      margin: 10px 0;
   }
}

//全站描述樣式
.description__block{
   @include iblw();
   letter-spacing: 1px;
   line-height: 25px;
   margin: 20px 0;
   .description__title{
      margin: 10px 0;
      color: $color_major;
      font-weight: 600;
      font-size: 1.2em;
      @include MCW(861px) {
         font-size: calc(1.3em + 0.4vw);
         margin: 10px 0;
      }
      &.type__gray{
         color: #444444;
         font-size: 1.1em;
      }
      i{
         padding:  0 10px 0 0;
      }
   }
   .description__content{

   }
   b{
      color: $color_major;
      font-weight: bold;
   }

}


.recommand__course__slider__block{
   @include fxc;
   width: 100%;
   margin:  0 auto;
   // max-width: 1380px;
   overflow: hidden;
   position: relative;
   padding: 2px 0;
   @include MCW(481px) {
      padding: 0;
   }
   .recommand__course__slider__box{
      width: 100%;
      max-width: calc(100% - 200px);
      letter-spacing: 1px;
      overflow: hidden;
      margin: 15px auto;
      @include MCW(481px){
         max-width: calc(100% - 100px);
      }
   }
   .recommand__course__item{
      @include ibl;
      width: 100%;
      box-sizing: border-box;
      max-width: 400px;
      box-shadow: 0px 0px 15px #29292927;
      background-color: #ffffff;
      padding: 8px 0 0;
      // margin: 0 12px;
      @include tst;
      user-select: none;;
      &:hover{
         opacity: .85;
      }
   }
   .recommand__course__title {
      @include ibl;
      @include multi-nowrap(1);
      height: 30px;
      line-height: 21px;
      width: 100%;
      padding: 9px 16px 5px;
      font-size: 1.1em;
      font-weight: bold;;
      color: $color_deeper;
   }
   .recommand__course__sub{
      @include ibl;
      @include nowrap;
      width: 100%;
      padding: 5px 16px;
      font-size: .9em;
   }
   .recommand__course__info{
      @include fxfs;
      flex-wrap: nowrap;
      @include nowrap;
      padding: 0px 16px;
      width: 100%;
      font-size: .9em;
   }
   .recommand__course__ele{
      padding:  5px 8px 5px 0;
      color: $color_major;
      .course__type{
         
      }
      .course__teacher{

      }
   }
   .recommand__course__price{
      @include fxfe;
      box-sizing: border-box;
      padding: 6px 10px;
      margin: 5px 0 0;
      width: 100%;
      background-color: $color_major;
      color: #fafafa;
      font-weight: 600;;
      font-size: 1.1em;
      -webkit-text-stroke-width: .8px;
      -webkit-text-stroke-color:#fafafa;
      letter-spacing: 5px;
   }
   .rcmd__swiper__next,
   .rcmd__swiper__prev {
      background-size: 60px;
      outline: none;;
      width: 60px;
      height: 54px;
      @include atb;
      &:before,
      &:after {
         display: none;
      }
      @include MCW(481px) {
         background-size: 100%;
         width: 30px;
         height: 27px;
      }
   }
   .rcmd__swiper__next {
      background-image: url('../img/global/type_next.svg');
   }
   .rcmd__swiper__prev {
      background-image: url('../img/global/type_prev.svg');
   }
}

//課程分類
.course__type__tab__block{
   @include fxfs;
   width: 100%;
   margin:  0 auto;
   overflow: hidden;
   @include MCW(1301px) {
      margin: 0 10px;
   }
   .course__type__tab__box{
      @include fxc;
      border: transparent 3px solid;
      width: auto;
      padding: 20px;
      font-size: 1em;
      color: #777777;
      letter-spacing: 1px;
      cursor: pointer;
      &.course__type__tab__box--active{
         border-color: transparent transparent $color_major transparent;
         color: $color_major;
         font-weight: bold;
      }
      @include MCW(861px) {
         padding: 10px 5px;
         font-size: .9em;
      }
   }

}

.course__type__main__item {
   @include fxfs;
   padding: 20px;
   background-color: #ffffff;
   box-shadow: 0px 0px 25px #00000023;
}

.course__type__main__block{
   width: 100%;
   max-width: 1000px;
   margin: 0 40px 0 0;
   @include MCW(1301px) {
      max-width: 100%;
      margin: 0 ;
   }
   .course__type__main__tab__item{
      width: 100%;
      display: none;
      &.course__type__main__tab__item--active {
         display: block;
      }
   }
   .course__type__main__title{
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color:$color_major;
      border: solid 1px;
      padding: 15px 0;
      width:100%;
      border-color: transparent transparent #d3d3d3 transparent;
      i{
         padding:  0 12px 0 0;
      }
   }

}

.course__type__recommand__event__block{
   @include fxfs;
   align-items: flex-start;
   width: calc(100% - 1050px);
   // margin: 0 40px 0 0;
   @include MCW(1301px) {
      width: 100%;
      flex-wrap: nowrap;
   }
   @include MCW(420px) {
     flex-wrap: wrap;
   }
   .course__type__event__box {
      @include fxc;
      padding: 10px 0;
      width: 100%;
      max-width: 420px;;
      @include MCW(1301px) {
         padding: 10px ;
      }
      @include MCW(420px) {
         padding: 10px;
      }
   }
   .course__type__event__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color:#555555;
      padding: 15px 0;
      width:100%;
      i {
         padding: 0 12px 0 0;
      }
      @include MCW(1301px) {
         font-size:1em;
      }
   }

   .course__type__event__imagine {
      
      max-width: 100%;
      width: 100%;
   }
}

//文章區塊樣式
.course__type__main__content {
   @include ibl;
   width: 100%;
   padding: 20px 0;
   line-height: 24px;

}


//搜尋結果
.filter__block{
   @include fxfsw();
   padding:  15px 8px 10px;
   .filter__box{
      @include fxcw(100px);
      padding: 10px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      margin: 5px;
      color: #575757;
      @include hover;
      &.filter__box--ischoose{
         background-color: $color_major;
         color: #ffffff;
      }
   }
}

.search__result__main__block {
   width: 100%;
   max-width: 1000px;
   margin: 0 40px 0 0;
   &.search__result__main__item {
      @include fxfs;
      padding: 30px 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 25px #00000023;
   }
   @include MCW(1301px) {
      max-width: 100%;
      margin: 0;
   }

   .search__result__main__tab__item {
      width: 100%;
      display: none;

      &.search__result__main__tab__item--active {
         display: block;
      }
   }

   .search__result__main__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color: $color_major;
      border: solid 1px;
      padding: 15px 0;
      width: 100%;
      border-color: transparent transparent #d3d3d3 transparent;
      &.type__all{
         // color: $color_productDetailAll_major;
      }
      &.type__single{
         // color: $color_productDetailAll_major;
      }
      i {
         padding: 0 12px 0 0;
      }
   }

}

.search__result__tab__block {
   @include fxfs;
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
   @include MCW(1301px) {
      margin: 0 10px;
   }
   .search__result__tab__box {
      @include fxc;
      border: transparent 3px solid;
      width: auto;
      padding: 20px;
      font-size: 1em;
      color: #777777;
      letter-spacing: 1px;
      cursor: pointer;
      &.search__result__tab__box--active {
         border-color: transparent transparent $color_major transparent;
         color: $color_major;
         font-weight: bold;
      }
      @include MCW(861px) {
         padding: 10px 5px;
         font-size: .9em;
      }
   }

}
.search__result__main__content {
   @include ibl;
   width: 100%;
   padding: 10px 0 40px;
   line-height: 24px;
}
.search__result__box{
   @include fxbw(450px);
   float: left;
   margin: 15px 10px;
   // border: 1px solid #cccccc;
   align-items: flex-start;
   color: #444444;
   box-shadow: 0px 0px 10px #0000003a;
   transition: .1s ease-in-out;
   font-size: .9em;
   position: relative;
   @include MCW(1301px){
      max-width: 47%;
   }
   @include MCW(981px) {
      max-width: 800px;
      margin: 10px 0;
   }
   &:hover{
      opacity: .9;
      transform: translate(-2px , -2px);
   }
   .search__result__imagine{
      @include fxcw(158px);
      height: 120px;
      @include MCW(501px) {
         display: none;
      }
   }
   .search__result__content__box{
      @include fxfsw();
      padding: 8px 15px 8px 10px;
      max-width: calc(100% - 160px);
      @include MCW(501px) {
         max-width: 100%;
      }
   }
   .search__result__content__title{
      @include nowrap;
      font-size: 1.2em;
      font-weight: 600;
      color: $color_major;
   }
   .search__result__content__article{
      @include iblw();
      @include multi-nowrap(4);
      padding: 4px 0 0 0;
      height: 78px;
      line-height: 19px;
      
   }
   .search__result__content__classification{
      @include iblw();
      @include multi-nowrap(2);
      height: 50px;

   }
   .search__result__content__container{
      @include fxbw();
      flex-wrap: nowrap;
      margin:  6px 0 0 0 ;
      max-height:28px;
   }
   .search__result__content__type{
      @include nowrap;
      width: 100%;
      max-width:90px;
   }
   .search__result__content__price{
      @include fxfew();
      @include nowrap;;
      flex-wrap: nowrap;
      .original__price {
         padding:  0 10px 0 0;
         text-decoration: line-through;
         font-size: .9em;
      }
      .latest__price {
         color: #cf1818;
         font-weight: 600;
      }
   }
   .search__result__content__teacher{
      @include fxfew();
      @include nowrap;
      flex-wrap: nowrap;
   }
   &.type__course{
      &:after{
         content: '';
         right: 0px;
         position: absolute;
         width: 6px;
         height: 100%;
      }
      &.type__all{
         .search__result__content__title{
            // color: $color_productDetailAll_major;
         }
         &:after {
            background-color: $color_productDetailAll_major;
         }
      }
      &.type__single{
         .search__result__content__title {
            // color: $color_productDetailSingle_major;
         }
         &:after{
            background-color: $color_productDetailSingle_major;
         }
         
      }
   }


}
.search__result__nothing__box{
   @include fxcw();
   display: none;
   color: #999999;
   font-size: 1.3em;
   padding: 30px;
   margin: 20px 0;
   letter-spacing: 2px;
   &.search__result__nothing__box--isshow {
      display: flex;
   }
}



//文章專區
.articles__nav__trigger{
   @include fxcw();
   padding: 0 10px 0;
   display: none;
   background-color: #ffffff;
   padding: 20px 0;
   position: relative;
   z-index: 10;

   margin: 10px 0;
   @include MCW(1301px){
      display: flex;
   }
   
   
   .articles__nav__trigger__title{
      @include fxcw(130px);
      position: relative;
      z-index: 100;
      &::before {
         @include ib;
         content: '';
         position: absolute;
         left: 5px;
         width: 0px;
         height: 0px;
         @include atb;
         border-style: solid;
         border-width: 5px 5px 5px 7px;
         border-color: transparent transparent transparent #777777;
      }

      &.articles__nav__trigger__title--isopen {
         &::before {
            top: 2px;
            left: 2px;
            transform: rotate(90deg);
         }
      }

   }
}



.articles__nav__block{
   margin: 0 40px 0 0 ;
   width: 100%;
   max-width: 1000px;
   @include MCW(1301px) {
      max-width: 100%;
      margin: 0;
   }
}

.articles__main__block,
.articles__nav__block {
   @include iblw(1000px);
   min-height: 1020px;
   @include MCW(1301px) {
      max-width: 100%;
      margin: 0;
      min-height: unset;
   }

   &.articles__nav__block--ismobile{
      @include MCW(1301px){
          display: none;
      }
   }
   .course__type__main__tab__item {
      width: 100%;
      display: none;

      &.course__type__main__tab__item--active {
         display: block;
      }
   }
   .course__type__main__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color: $color_major;
      border: solid 1px;
      padding: 15px 0;
      width: 100%;
      border-color: transparent transparent #d3d3d3 transparent;

      i {
         padding: 0 12px 0 0;
      }
   }
}

.articles__main__block{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.articles__main__item {

   padding: 20px 30px;
   background-color: #ffffff;
   box-shadow: 0px 0px 25px #00000023;

   @include MCW(1301px) {
      padding: 8px;
   }
}

.articles__nav__block {
   @include iblw();
   width: calc(100% - 1050px);
   @include MCW(1301px) {
      width: 100%;
      flex-wrap: nowrap;
   }

   @include MCW(781px) {
      flex-wrap: wrap;
   }
   .articles__nav__box {
      @include fxc;
      padding: 10px 0;
      width: 100%;
      max-width: 420px;

      @include MCW(1301px) {
         padding: 10px;
      }

      @include MCW(420px) {
         padding: 10px;
      }
   }
   .articles__nav__title {
      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 2px;
      color: #555555;
      padding: 12px 0;
      margin: 5px 0;
      width: 100%;
      color: $color_major;
      border: solid #cccccc;
      border-width: 0 0 1px 0;
      i {
         text-align: center;
         width: 100%;
         max-width: 20px;
         padding: 0 6px 0 0;
      }

      @include MCW(1301px) {
         font-size: 1em;
      }
   }
   .articles__nav__link{
      @include fxfsw();
      margin: 4px 4px 4px 4px;
      @include hover;
      color:#444444;
      line-height: 1.4em;
      font-size: .9em;
      @include multi-nowrap(2);
      max-height: 44px;
   }
   .articles__nav__dropdown__box {
      @include fxfsw();
   }
   .articles__nav__dropdown__title{
      @include fxfsw();
      padding: 12px 0 12px 16px;
      color: #555555;
      @include hover;
      font-weight: 600;
      font-size: 1.1em;
      position: relative;
      user-select: none;
      &::before{
         @include ib;
         content: '';
         position: absolute;
         left: 5px;
         width: 0px;
         height: 0px;
         @include atb;
         border-style:  solid ;
         border-width: 5px 5px 5px 7px;
         border-color: transparent transparent transparent #777777;
      }
      &.articles__nav__dropdown__title--isopen{
         
         &::before {
            top: 2px;
            left: 2px;
            transform: rotate(90deg);
         }
      }
   }
   .articles__nav__dropdown {
      @include iblw();
      padding: 3px 0 3px 16px;
      color: #555555;
      
      font-weight: 600;
      font-size: 1em;
      position: relative;
      user-select: none;
      display: none;
   }
   .articles__nav__dropdown__item{
      @include iblw();
      font-size: 1em;
      padding: 4px 0;
   }
}

.article__detail__block {
   @include fxfsw();

   .article__detail__box {
      @include fxfsw();
      margin: 12px 0;
      padding: 0 ;
   }

   .article__detail__imagine {
      @include fxcw();
      height: 350px;
      @include MCW(650px){
         height: 52vw;
      }
   }

   .article__detail__title{
      @include fxfsw();
      margin: 20px 0 10px ;
      font-size: 1.4em;
      font-weight: 600;
      @include nowrap;
      @include MCW(){
         @include multi-nowrap(2);
         white-space: initial;
         max-height: 60px;
         line-height: 1.3em;
      }

   }

   .article__detail__info__box {
      @include fxbw();
      border: solid #dddddd;
      border-width: 0 0 1px 0;
      padding: 6px 0;
   }

   .article__detail__info__ele__box{
      letter-spacing: 1px;
      &.left {
         @include fxfsw(70%);
         color: #525252;
      }
      &.right{
         @include fxfew(30%);
      }
   }

   .article__detail__info__ele{
      &.viewed{
         i{
            padding: 0 0px 0 12px;
         };
      }
      &.fb{
         i{
            // width: 45px;
            font-size: 2.2em;
            margin: 0 10px 0 0;
         }
      }

   }

   .article__detail__content {
      @include iblw();
      line-height: 1.5em;
      font-size: 1em;
      padding: 26px 0 18px;
   }

}


.recommend__pager__block {
   @include fxcw();
   @include MCW(580px) {
      padding: 0px 0 40px;
   }
   .recommend__pager__box {
      @include fxbw();
      margin: 20px auto;
      @include MCW(580px) {
         padding: 0 15px 0;
      }
      &.type_pagination {
         @include fxb;
         align-items: center;
         padding: 0;
      }
      .pager_number {
         @include ibl;
         padding: 12px 15px;
         margin: 5px;
         text-align: center;
         cursor: pointer;
         background-color: rgb(218, 218, 218);
         @include hover;

         &.active {
            background-color: #172532;
            color: #fff;
         }
      }

   }
   .recommend__pager__item {
      @include hover;
      width: 100%;
      max-width: 310px;
      @include MCW(650px) {
         max-width: 100%;
      }
      > a {
         @include fxcw();
         width: 100%;
         @include MCW(650px) {
            justify-content: space-between;
         }
      }
      &.pager_next {
         a {
            float: right;
         }
         .recommend__pager__title,
         .recommend__pager__sub {
            text-align: right;
         }
      }
      &.pager_prev {
         .recommend__pager__title,
         .recommend__pager__sub {
            text-align: left;
         }
      }
      .recommend__pager__title__box {
         @include ibl;
         padding: 5px 10px;
         width: calc(100% - 50px);
         min-width: 270px;
         max-width: 270px;

         @include MCW(650px) {
            min-width: unset;
            width: 100%;
            max-width: calc(100% - 40px);
            margin: 5px 0;
         }


      }
      .recommend__pager__title__box {
         @include ibl;
         width: 100%;
      }
      .recommend__pager__title {
         @include nowrap;
         width: 100%;
         font-size: 17px;
         color: #222;

         @include MCW(650px) {}
      }
      .recommend__pager__sub {
         font-size: 12px;
         @include ibl;
         width: 100%;
         color: $color_major;
         font-weight: bold;
      }
      .recommend__pager__icon {
         color: #fff;
         @include ibl;
         background-color: $color_major;
         padding: 10px 14px;
         border-radius: 4px;

      }

   }
   .recommend__pager__deco {
      @include ibl;
      height: 14px;
      width: 1px;
      background: #999;
      @include MCW(700px) {
         display: none;
      }
   }
}


.article__list__block{
   @include fxfsw();
   .article__list__box{
      @include fxfsw();
      margin: 12px 0;
      padding: 0 10px;
   }
   .article__list__imagine{
      @include fxcw(220px);
      height: 140px;
      @include MCW(650px){
         max-width: 30vw;
         height: 20vw;
         display: none;
      }
   }
   .article__list__content__box {
      @include fxfsw(calc(100% - 220px));
      padding: 0 10px;
      color: #555555;
      @include MCW(650px) {
         // max-width: calc(100% - 30vw);
         max-width: 100%;
      }
   }
   .article__list__title__box {
      @include fxbw();
      align-items: center;
      padding: 0px 0 6px;
      border: solid #dddddd;
      border-width: 0 0 1px 0;
   }
   .article__list__title {
      @include iblw(calc(100% - 100px));
      font-weight: 600;
      font-size: 1.2em;
      @include nowrap;

      
      position: relative;
      &.article__list__title--ishot {
         padding:  0 0 0 48px;
         &::before{
            content: 'HOT';
            @include ibw(40px);
            position: absolute;
            left: 0;
            text-align: center;
            @include atb;
            padding: 4px 6px;
            background-color: #ba3232;
            color: #ffffff;
            margin: 0 4px;
            font-weight: 400;
            font-size: .6em;
         }
      }
   }
   .article__list__date{
      @include fxfsw(94px);
   }
   .article__list__content {
      @include iblw();
      line-height: 1.4em;
      font-size: 1em;
      @include multi-nowrap(4);
      padding: 8px 0 0;
      max-height: 93px;
   }
}


.pager__block{
   @include fxc;
   width: 100%;
   padding: 20px 0 40px;

   @include MCW(580px) {
      padding: 0px 0 40px;
   }

   .pager__box{
      // @include flex-center;
      // justify-content: space-between;
      @include ib;
      width: auto;
      margin: 20px auto;
      ;
      padding: 0 50px 0;

      @include MCW(580px) {
         padding: 0 15px 0;
      }

      .pager__number {
         @include ibl;
         padding: 12px 15px;
         margin: 5px;
         text-align: center;
         cursor: pointer;
         background-color: #e0e0e0;
         @include hover;

         &.pager__number--active {
            background-color: $color_major;
            color: #fff;
         }
         i{
            color: #666666;
         }
      }
   }
}



//Global Cmponent------------------------------------

.button{
   @include selection-none;
   font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
   background: $color_major;
   border: 0px solid #fff;
   cursor:pointer;
   color:#fff;
   outline:none;
   @include tst;
   border-radius: 5px;
   padding: 15px 40px;
   margin: 8px;
   font-size: .9em;
   text-decoration: none;
   &:hover{
      opacity: .8;
   }
   &.type_gray{
      background: #ddd;
      color:#444;
   }
   &.type__blue{
      background-color: #1277B5;
   }
   &.type__fadeblue {
      background-color: rgb(45, 149, 214);
   }
   &.type__orange{
      background-color:$color_productDetail_minor;
   }
   &.type__red {
      background-color: #ba3232;
   }
   &.shape{
      border-radius: 0;
   }
   &.type__dark{
      background-color:#555555;
   }
}

.checker {
   @include fxfs;
   align-items: center;
   position: relative;
   width: auto;
   font-size: 16px;
   cursor: pointer;
   user-select: none;
   background-color: transparent;
   overflow: hidden;
   @include tst;
   .text {
      width: auto;
      position: relative;
      z-index: 1;
      font-size: .9em;
      line-height: 24px;

      @include MCW(500px) {
         width: calc(100% - 60px);
      }
   }

   input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
         &~.checkmark {
            background-color: $color_productDetailAll_major;
            border-color: transparent;
            ;
            @include tst;
         }

         &~.checkmark:after {
            display: block;
         }
      }
   }

   .checkmark {
      position: relative;
      height: 22px;
      width: 22px;
      margin: 0 6px 0 0;
      border-width: 1px;
      border-color: rgb(187, 187, 187);
      // background-color: #ffffff;
      ;
      border-style: solid;

      &:after {
         font-family: FontAwesome;
         content: "";
         position: absolute;
         display: none;
         @include arl;
         top: 3px;
         width: 5px;
         height: 10px;
         border: solid white;
         border-width: 0 3px 3px 0;
         transform: rotate(45deg);
      }
   }

   &.type_box {
      @include ib;
      width: auto;
      padding: 6px 13px;
      margin: 7px 18px 7px 0;
      background-color: #ddd;
      border-radius: 3px;
      @include MCW(500px) {
         margin: 3px 18px 3px 0;
         padding: 3px 13px;
      }
      input {
         &:checked {
            &~.checkbg {
               background-color: $color_major;
               @include tst;
            }

            &~.text {
               color: #fff;
               padding: 0 0px 0 10px;
            }

            &~.checkmark:after {
               display: block;
            }
         }
      }

      .text {
         padding: 0 10px;
      }

      .checkbg {
         @include ibl;
         position: absolute;
         @include aa;
         height: 100%;
         width: 100%;
      }

      .checkmark {
         @include aa;
         position: relative;
         height: 100%;
         width: 100%;
         border: 0px solid transparent;

         &:after {
            @include atb;
            content: '\f00c';
            position: relative;

            float: left;
            display: none;
            color: #fff;
            font-size: 16px;

            top: 1px;
            width: 10px;
            height: 14px;

            padding: 3px 0;

            border: 0 solid transparent;
            transform: rotate(0deg);
         }
      }
   }
}

.inputer {
   @include PlaceHolder-Style(rgb(145, 145, 145), .9);
   @include tst;
   @include ib;
   text-decoration: none;
   max-width: 100%;
   padding: 8px 15px;
   border-width: 1px;
   border-style: solid;
   border-color: #888;
   outline: none;
   font-size: 16px;
   letter-spacing: 1px;

   @include MCW(801px) {
      margin: 8px auto;
   }

   &:focus {
      border-color: $color_major;
      box-shadow: 0px 0px 10px #f29001;
   }
}

.radio_box {
   @include fxfs;
   float: left;
   width: auto;
   min-width: 90px;
   align-items: center;
   box-sizing: border-box;
   position: relative;
   padding: 0 18px 0 0;
   cursor: pointer;

   .radio {
      @include ibl;
      width: 25px;
      height: 15px;
      position: relative;
      opacity: 0;
      cursor: pointer;

      &:checked~label:after {
         content: "";
         position: absolute;
         top: 5px;
         left: 5px;
         width: 15px;
         height: 15px;
         border-radius: 50%;
         background: $color_major;
         @include atb;
      }

      &:checked~label:before {
         border-color: $color_major;
      }
   }

   .label {
      cursor: pointer;
      user-select: none;
      padding: 10px 0;

      &:before {
         content: "";
         @include atb;
         position: absolute;
         left: 0;
         height: 23px;
         width: 23px;
         background-color: #fff;
         border-radius: 50%;
         border: 1px solid rgba(0, 0, 0, 0.4);
      }
   }


}

.texter {
   @include ff;
   @include ib;
   font-size: 17px;
   border: 1px solid #aaa;
   padding: 8px;
   &:focus {
      // transition: .2s all ease-in;
      outline-color: $color_major;
   }
   &::placeholder {
      font-size: .8em;
   }
   
}

.nothing__box{
   @include fxc;
   width: 100%;
   padding:30px 0px;
   position: relative;
   @include MCW(861px) {
      padding:30px 15px;
   }
   .nothing__item{
      letter-spacing: 3px;
      color:#888;
      font-size: 22px;
      padding:80px 0px;
      max-height: 260px;
      width: 100%;
      border: 1px solid #ccc;
      @include fxc;
   };
}

//lazy and position focuspoint style------------------------------------

.focuspoint{
   // @include flex-center;
   // align-content: center;
   .lazy{
      @include bg-loading;
      background-color: #fff;
      background-image: url("images/fengso-loading.svg");
      max-height: 100%;
   }
   .lazied{
      max-height: unset;
   }
}

.img_box {
   img {
      // width: 100%;
      max-width: 100%;
      // height: 100%;
      max-height: 100%;
   }
}

.lazy{
   @include fxc;
   background-image: url('../img/global/loading.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   &.lazied {
      background-image: unset;
   }
}

.tdu{
   text-decoration: underline;
}




//activing components------------------------------------

.wrapper{
   @include fxfsw();
}

.new__msg__active {
   &:before{
      content:'';
      @include ibl;
      position: absolute;
      top: -4px; 
      right: -4px;
      border-radius: 50px;
      border:2px solid #fff;;
      padding: 4px;
      background-color: #eb4a21;
   }
}

.isopen{
   transition: .3s all cubic-bezier(.03,.08,0,.99) ;
   opacity: 0;
   transform:scale(0.2);
}

.is_rotate{
   opacity: 0;
   transition: all .5s ease-in-out;
   transform:rotate(180deg);
}

// .is__right{
//    opacity: 0;
//    transition: all .2s cubic-bezier(.03,.08,0,.99) ;
//    transform:translateX(-120px);
// }

